body {
  padding-top: 0 !important;
}
#simple-wrap {
  padding: 20px;
}
#site-logo {
  margin-bottom: 20px;
  margin-top: 20px;
}
#header-nav {
  margin-bottom: 0;
}
#page-body {
  padding-top: 20px;
}
/* Bootstrap fixes
----------------------------------------*/
.row {
  margin-bottom: 15px;
}
.container {
  height: 100%;
}
.spacer {
  height: 10px;
}
.spacer-h {
  height: 20px;
}
.panel-heading .panel-right {
  margin-top: -20px;
  font-size: 15px;
}
.modal-dialog {
  padding-top: 40px;
}
.page-header .subject {
  display: inline-block;
}
.panel-foo {
  float: left;
}
blockquote {
  font-size: 14px !important;
}
blockquote cite {
  padding-bottom: 10px;
}
/* phpBB Stuff
----------------------------------------*/
#darkenwrapper {
  display: none;
  position: relative;
  z-index: 44;
}
.phpbb_alert {
  border: 1px solid transparent;
  display: none;
  left: 0;
  padding: 0 25px 20px 25px;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 50;
  width: 620px;
  margin: 0 auto;
}
#darken {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 45;
  background-color: #000000;
}
#loading_indicator {
  background-color: #000000;
  background-image: url("../images/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: none;
  opacity: 0.8;
  margin-top: -50px;
  margin-left: -50px;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 51;
}
/* ComBoot Stuff
----------------------------------------*/
.bootbox-body .alert {
  margin-bottom: 0 !important;
}
.push-notify {
  display: none;
  width: 100%;
  margin-bottom: 0 !important;
  position: fixed;
  top: 0;
  z-index: 100;
}
.skiplink {
  position: absolute;
  left: -999px;
  width: 990px;
}
.post-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* Navbar
----------------------------------------*/
.navbar-mini {
  height: 30px !important;
  min-height: 0 !important;
}
#notification-menu .navbar-right .dropdown-menu {
  min-width: 400px;
}
#user-menu .navbar-right .dropdown-menu {
  padding: 10px;
  min-width: 240px;
}
.nav-avatar {
  padding: 4px !important;
}
.nav-avatar img {
  border-radius: 4px;
  max-width: 25px;
  max-height: 25px;
}
.nav-avatar-mobile img {
  border-radius: 100px;
  max-width: 34px;
  max-height: 34px;
}
.navbar-fix {
  z-index: 10000;
  border-radius: 0 !important;
}
.navbar-logo img {
  height: 46px;
  width: auto;
  padding: 2px 5px;
}
.notification-panel .notification-avatar img {
  max-width: 50px;
  max-height: 50px;
}
.notification-panel .list-group-item .mark_read {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
  background: #FFF;
  padding: 18px;
  border-radius: 5px 0 0 5px;
}
.notification-panel .list-group-item .mark_read:hover {
  padding: 18px 25px;
}
.notification-panel .list-group-item:hover .mark_read {
  display: block;
}
.notification-panel .notification-time {
  float: right;
  color: #000;
  font-size: 12px;
}
#notification-panel-desktop {
  padding: 0;
  border: 0;
  margin-top: 10px;
  background-color: transparent;
}
#notification-panel-desktop .panel {
  margin: 0;
}
#notification-panel-desktop .notification {
  display: block;
  margin-bottom: 0;
}
#notification-panel-desktop .notification p {
  margin: 0;
}
#notification-panel-mobile {
  width: 300px;
  right: 10px;
  position: fixed;
  z-index: 100;
}
#notification-panel-mobile .row {
  margin-bottom: 0 !important;
}
#notification-panel-mobile .notification_text {
  font-size: 11px;
  padding-left: 10px;
}
.badge-notify {
  background: red;
  position: relative;
  top: -20px;
  left: -35px;
}
.notifications .avatar {
  max-width: 60px;
  padding-right: 10px;
}
li .btn-labeled {
  margin: 8px;
}
.linklist {
  list-style-type: none;
}
.default-captcha-image {
  display: block;
  margin: auto;
}
/* Footer
----------------------------------------*/
#page-footer {
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}
/* Buttons
----------------------------------------*/
.btn-reg {
  padding: 0 !important;
  display: inline !important;
}
.btn-sel,
.btn-nav,
#topicreview {
  margin-bottom: 20px;
}
.btn-sel {
  text-align: right;
}
.btn-nav {
  text-align: center;
}
.btn-post {
  margin-bottom: 15px;
}
.btn-panel .btn-group {
  margin-top: -20px;
}
.btn-panel {
  padding-bottom: 20px !important;
}
.btn-group:only-child {
  border-radius: 0 !important;
}
.topic-buttons {
  float: right;
}
#format-buttons .btn {
  margin-bottom: 0 !important;
}
.submit-buttons {
  text-align: center;
}
.btn-labeled {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-label-right {
  right: -12px;
  left: auto;
}
.mcp-buttons {
  margin-bottom: 20px;
}
.clickable {
  cursor: pointer;
}
.chradio {
  display: none;
}
/* UCP/MCP
----------------------------------------*/
#ucp-nav,
#mcp-nav,
.post-tabs {
  border-radius: 0 0 4px 4px !important;
  border-top: 0 !important;
}
#mcp-body {
  min-height: 300px;
}
#mcp-body .avatar img {
  max-width: 140px;
}
.forum-selector {
  float: right;
}
#cp-main {
  min-height: 300px;
  padding-right: 0;
}
#cp-main h3 {
  font-size: 1em;
}
#cp-main .panel-dash {
  margin-right: -15px;
  margin-left: -15px;
}
/* Login
----------------------------------------*/
#loginpanel {
  margin-top: 20px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/* Forumlist/Topics
----------------------------------------*/
.forum-icon,
.forum-topic-icon,
.pm-topic-icon {
  padding-right: 5px;
}
.forum-image {
  max-width: 32px;
  max-height: 32px;
}
.topiclist dfn {
  display: none;
}
.topic-name .topictitle,
.topic-name small,
.forum-name .topictitle,
.forum-name small {
  white-space: normal;
}
.forum-desc {
  overflow: hidden;
}
/* Posts
----------------------------------------*/
#message {
  border-radius: 0 !important;
  min-height: 200px;
  max-height: 600px;
}
pre.line-numbers:before,
pre.line-numbers:after {
  display: inline !important;
}
.attach-editor img {
  max-width: 40px;
  max-height: 40px;
}
.attach-image {
  margin: 3px 0;
  width: 100%;
  max-width: 100%;
  max-height: 350px;
  overflow: auto;
}
.attach-image img {
  border: 1px solid #999999;
  cursor: pointer;
  max-width: 100%;
}
.content img,
#preview img {
  max-width: 100%;
}
.post-time-mobile {
  padding: 10px;
}
.post-icon {
  padding: 0 10px 0 0;
}
.preview-item {
  padding: 10px 0;
}
#preview {
  word-wrap: break-word;
}
#lightbox {
  padding-top: 20px;
}
#options-tab .form-group .checkbox {
  padding-left: 20px;
}
.post-footer,
.review-footer,
.faq-footer {
  min-height: 40px;
}
.post-footer {
  overflow: auto;
}
.vote-progress {
  padding-top: 10px;
}
.default-avatar {
  width: 90px !important;
  height: 90px !important;
}
.post-info .avatar img {
  width: 90px !important;
  height: 90px !important;
}
.post-info .avatar.rounded img {
  border-radius: 50%;
  border: 8px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.post-info .avatar.rounded img:hover {
  border: 2px solid #eee;
}
#topicreview {
  overflow: auto;
  max-height: 300px;
}
.signature {
  border-top: 1px solid #eee;
  padding: 10px;
  font-size: 1.1em;
  clear: left;
  line-height: 140%;
  overflow: hidden;
  width: 100%;
}
.signature-preview {
  border-top: none;
  margin-top: 0;
}
.jump-to {
  padding: 5px !important;
}
.post-info {
  padding-top: 15px;
}
.post-info-left {
  border-right: 1px solid #eee;
}
.post-info-right {
  border-left: 1px solid #eee;
}
.post-head {
  border-bottom: 1px solid #eee;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#topicreview .post-head {
  padding: 0 20px;
}
.post-body .post-head .author {
  padding-top: 10px;
  padding-left: 0 !important;
}
.post-content {
  word-wrap: break-word;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.post-content .post-head {
  padding: 15px;
}
.post-content .content {
  padding: 20px;
}
.post-content .content pre {
  padding: 0;
  background: none;
}
.post-content .attachbox {
  margin: 15px;
}
.content ul,
.content ol,
ol.def-rules {
  padding-left: 20px;
}
ul.profile-links {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul.profile-links li {
  float: left;
  margin: 0 6px 3px 0;
}
/* Memberlist
----------------------------------------*/
#memberlist .rank-img {
  float: right;
}
/* To top elements
----------------------------------------*/
#back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 30px;
  display: none;
  z-index: 10;
}
/* Table
------------------------- */
th.name {
  width: 40%;
}
.table th.forum-name,
.table th.topic-name {
  width: 50%;
}
.table th.topics,
.table th.posts,
.table th.views {
  width: 10%;
  text-align: center;
}
.table th.marking,
.table td.marking {
  width: 5%;
  text-align: center;
}
.table th.replies {
  width: 12%;
}
.table th.lastpost {
  width: 25%;
}
.table td.topics,
.table td.posts,
.table td.replies,
.table td.views,
.table th.replies,
.table td.selecting {
  text-align: center;
  vertical-align: middle;
}
th.forum-name,
td.forum-name,
th.topic-name,
td.topic-name {
  width: 50%;
}
/* Helper Classes
----------------------------------------*/
.no-margin {
  margin: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.small-margin {
  margin: 5px !important;
}
.small-margin-left {
  margin-left: 5px !important;
}
.small-margin-right {
  margin-right: 5px !important;
}
.small-margin-bottom {
  margin-bottom: 5px !important;
}
.small-margin-top {
  margin-top: 5px !important;
}
/* Responsive selectors
----------------------------------------*/
@media (min-width: 768px) {
  #search {
    width: 300px;
  }
  #page-footer {
    margin-bottom: 60px !important;
  }
  .display-options {
    text-align: center;
  }
  .display-options label {
    margin-bottom: 0 !important;
  }
  .pull-right-desktop {
    float: right !important;
  }
  .pull-left-desktop {
    float: left !important;
  }
  .post-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 767px) {
  .logo {
    display: inline-block !important;
  }
  .no-margin-xs {
    margin: 0 !important;
  }
  .no-padding-xs {
    padding: 0 !important;
  }
  .post-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-flex .post-info {
    border-bottom: 1px solid #eee;
    padding: 15px;
  }
  .post-body .post-info .avatar {
    float: left;
  }
  .post-body .post-info .avatar img {
    max-width: 40px;
    max-height: 40px;
    border: 0px;
  }
  .post-body .post-info .author-name,
  .post-body .post-info .author-rank {
    float: left;
    padding: 10px;
  }
  .display-options label {
    display: inline-block !important;
  }
  .navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .jumbotron {
    padding-top: 48px !important;
    margin-left: -5px;
    margin-right: -5px;
  }
  #main-menu-btn,
  #search-menu-btn,
  #notification-menu-btn {
    border-radius: 0;
    margin: 0;
    padding: 15px 20px;
  }
  #user-menu-btn {
    padding: 8px 11px;
    margin: 0;
    border-radius: 0;
  }
  #user-menu-btn i {
    margin: 10px 9px;
  }
  #main-menu-btn {
    border-width: 0 1px 0 0;
  }
  #notification-menu .navbar-right .dropdown-menu {
    min-width: 240px;
  }
  #search-menu-btn,
  #user-menu-btn,
  #notification-menu-btn {
    border-width: 0 0 0 1px;
  }
  .navbar-form {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
  .pull-right-mobile {
    float: right !important;
  }
  .pull-left-mobile {
    float: left !important;
  }
  .navbar-nav.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    padding: 20px;
  }
  .navbar-right.visible-xs {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  [class*="badger"] {
    position: initial !important;
  }
}
@media (max-width: 991px) {
  .mobile-fix [class^=col-md-] {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #back-to-top {
    bottom: 30px !important;
  }
}
/* User Profile
----------------------------------------*/
.user-details {
  padding: 0;
}
.user-details .user-image {
  position: relative;
  z-index: 1;
  margin: auto;
  text-align: center;
  top: 45px !important;
}
.user-image img {
  clear: both;
  margin: auto;
  position: relative;
  width: 90px !important;
  height: 90px !important;
}
.user-image.rounded img {
  border-radius: 50%;
}
.user-details .user-info-block {
  width: 100%;
  background: #ffffff;
  z-index: 0;
  padding-top: 35px;
}
.user-info-block .user-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.user-info-block .navigation {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #428BCA;
  border-top: 1px solid #428BCA;
  text-align: center;
}
.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding: 20px 30px;
  float: left;
}
.navigation li.active a {
  background: #428BCA;
  color: #fff;
}
.user-info-block .user-body {
  padding: 5% 5% 0 5%;
}
.user-body .tab-content > div {
  float: left;
  width: 100%;
}
.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333;
}
/* Color-Picker Fix
----------------------------------------*/
.colorpicker.colorpicker-visible {
  padding: 4px;
  min-width: 130px;
}
/* Icon Addon
----------------------------------------*/
.input-group .icon-addon .form-control {
  border-radius: 0;
}
.icon-addon {
  position: relative;
  color: #555;
  display: block;
}
.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon:hover .glyphicon,
.icon-addon:hover .fa,
.icon-addon .form-control:focus + .glyphicon,
.icon-addon .form-control:focus + .fa {
  color: #2580db;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}
.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}
.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px;
}
.icon-addon.addon-md .form-control,
.icon-addon.addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}
.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}
.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}
/* Badger
----------------------------------------*/
[class*="badger"] {
  position: relative;
  background: #fff;
}
[class*="badger"]:after {
  content: attr(data-badger) !important;
  position: absolute;
  top: 0;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background: #999;
  color: #fff;
}
.badger-left-radius:after {
  border-radius: 4px 0 6px 0;
  left: 0;
}
.badger-left:after {
  left: 0;
  border-radius: 0 0 6px 0;
}
.badger-right:after {
  right: 0;
  border-radius: 0 0 0 6px;
}
.badger-danger:after {
  background: #d9534f;
}
.badger-warning:after {
  background: #f0ad4e;
}
.badger-success:after {
  background: #5cb85c;
}
.badger-info:after {
  background: #5bc0de;
}
.badger-inverse:after {
  background: #222;
}
/* Breadcrumb
----------------------------------------*/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}
.btn-breadcrumb .btn:only-child {
  padding: 6px 10px !important;
}
/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #337ab7;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #2e6da4;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #286090;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}
/* PM Styles
----------------------------------------*/
.pm-legend {
  border-left-width: 10px;
  border-left-style: solid;
  border-right-width: 0;
  margin-bottom: 3px;
  padding-left: 3px;
}
.current {
  color: #000000 !important;
}
.pmlist li.pm_message_reported_colour,
.pm_message_reported_colour {
  border-left-color: #BC2A4D;
  border-right-color: #BC2A4D;
}
.pmlist li.pm_marked_colour,
.pm_marked_colour {
  border-color: #FF6600;
}
.pmlist li.pm_replied_colour,
.pm_replied_colour {
  border-color: #A9B8C2;
}
.pmlist li.pm_friend_colour,
.pm_friend_colour {
  border-color: #5D8FBD;
}
.pmlist li.pm_foe_colour,
.pm_foe_colour {
  border-color: #000000;
}
/* Pace
----------------------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/* Alerts
----------------------------------------*/
hr.message-inner-separator {
  clear: both;
  margin-top: 10px;
  margin-bottom: 13px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
/* Extension fixes
----------------------------------------*/
#abbc3_buttons {
  color: #000;
}
