<!-- IF S_QR_NOT_CHANGE_SUBJECT -->
	<input type="hidden" name="subject" value="{SUBJECT}" />
<!-- ENDIF -->

<!-- IF S_DISPLAY_USERNAME -->
<div class="form-group">
	<label class="control-label col-md-2" for="username">{L_USERNAME}{L_COLON}</label>
	<div class="col-md-10">
		<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="form-control" />
	</div>
</div>
<!-- ENDIF -->

<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
<div id="qr_captcha_container">
<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
</div>
<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[
	var form_name = 'qr_postform';
	var text_name = 'message';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		l: '{LA_BBCODE_L_HELP}',
		o: '{LA_BBCODE_O_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',
		f: '{LA_BBCODE_F_HELP}',
		y: '{LA_BBCODE_Y_HELP}',
		d: '{LA_BBCODE_D_HELP}'
		<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
		<!-- END custom_tags -->
	}

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR_HIDE}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR}';
		}
	}

<!-- IF S_QR_CAPS_ENABLE -->
	function qr_formatToggle(s)
	{
		var t = '', sc = s.length, c;
		for (i = 0; i < sc; i++)
		{
			c = s.charAt(i);
			if (c.toLowerCase() == c) c = c.toUpperCase();
			else if (c.toUpperCase() == c) c = c.toLowerCase();
			t += c;
		}
		return t;
	}
    // param: reg = 0 - lowercase, reg = 1 - uppercase, reg = 2 - inverse
	function qr_updateCase(reg)
	{
		var buf = '', selection = null, start, end;
		var txtarea = document.forms[form_name].elements[text_name];

		if (document.selection) {
			selection = document.selection.createRange();
			buf = selection.text;
		}
		else if (typeof (txtarea.selectionStart) == "number") {
			start = txtarea.selectionStart;
			end = txtarea.selectionEnd;
			if (start != end)  buf = txtarea.value.substr(start, end - start);
			else buf = txtarea.value;
		}
		else {
			buf = txtarea.value;
		}

		switch (parseInt(reg)) {
			case 0: buf = buf.toLowerCase(); break;
			case 1: buf = buf.toUpperCase(); break;
			case 2: buf = qr_formatToggle(buf); break;
		}

		if (selection) {
			selection.text = buf;
		}
		else if (start != end) {
			txtarea.value = txtarea.value.substr(0, start) + buf + txtarea.value.substr(end);
		}
		else {
			txtarea.value = buf;
		}
		txtarea.focus();
	}
<!-- ENDIF -->
// ]]>
</script>
<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->

<!-- IF S_ABBC3_INSTALLED and S_BBCODE_BUTTONS -->
	<!-- INCLUDE @vse_abbc3/abbc3_posting_buttons.html -->
<!-- ENDIF -->

<div class="form-group">
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<!-- IF not S_VISUAL_EDITOR -->
				<!-- IF S_BBCODE_BUTTONS -->
				<div id="colour_palette" style="display: none;">
					<dl style="clear: left;">
						<dt><label>{L_FONT_COLOR}:</label></dt>
						<dd id="color_palette_placeholder" data-orientation="h" data-height="12" data-width="15" data-bbcode="true"></dd>
					</dl>
				</div>
				<!-- EVENT ext_quickreply_editor_buttons_before -->
				<div id="format-buttons" class="no-margin">
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group btn-group-sm">
							<button onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}" accesskey="b" name="addbbcode0" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-bold fa-lg"></i>
							</button>
							<button onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}" accesskey="i" name="addbbcode2" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-italic fa-lg"></i>
							</button>
							<button onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}" accesskey="u" name="addbbcode4" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-underline fa-lg"></i>
							</button>
						</div>
						<!-- IF S_BBCODE_QUOTE -->
						<div class="btn-group btn-group-sm">
							<button onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}" accesskey="q" name="addbbcode6" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-quote-right fa-lg"></i>
							</button>
						</div>
						<!-- ENDIF -->
						<div class="btn-group btn-group-sm">
							<button onclick="bbstyle(10)" title="{L_BBCODE_L_HELP}" accesskey="l" name="addbbcode10" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-list-ul fa-lg"></i>
							</button>
							<button onclick="bbstyle(12)" title="{L_BBCODE_O_HELP}" accesskey="o" name="addbbcode12" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-list-ol fa-lg"></i>
							</button>
							<button onclick="bbstyle(-1)" title="{L_BBCODE_LISTITEM_HELP}" accesskey="y" name="addbblistitem" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-plus-circle fa-lg"></i>
							</button>
						</div>
						<div class="btn-group btn-group-sm">
							<button onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}" accesskey="c" name="addbbcode8" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-code fa-lg"></i>
							</button>
							<!-- IF S_BBCODE_IMG -->
							<button onclick="bbstyle(14)" title="{L_BBCODE_P_HELP}" accesskey="p" name="addbbcode14" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-picture-o fa-lg"></i>
							</button>
							<!-- ENDIF -->
							<!-- IF S_LINKS_ALLOWED -->
							<button onclick="bbstyle(16)" title="{L_BBCODE_W_HELP}" accesskey="w" name="addbbcode16" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-link fa-lg"></i>
							</button>
							<!-- ENDIF -->
							<!-- IF S_BBCODE_FLASH -->
							<button onclick="bbstyle(18)" title="{L_BBCODE_D_HELP}" accesskey="d" name="addbbcode18" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-flash"></i>
							</button>
							<!-- ENDIF -->
						</div>
						<div class="btn-group btn-group-sm">
							<select name="addbbcode20" class="btn-group-sm" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{L_BBCODE_F_HELP}">
								<option value="50">{L_FONT_TINY}</option>
								<option value="85">{L_FONT_SMALL}</option>
								<option value="100" selected="selected">{L_FONT_NORMAL}</option>
								<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
								<option value="150">{L_FONT_LARGE}</option>
								<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
								<option value="200">{L_FONT_HUGE}</option>
								<!-- ENDIF -->
								<!-- ENDIF -->
							</select>
						</div>
						<div class="btn-group btn-group-sm">
							<button onclick="change_palette();" title="{L_BBCODE_S_HELP}" accesskey="s" name="bbpalette" type="button" class="btn btn-default btn-xs" id="bbpalette" >
								<i class="fa fa-paint-brush fa-lg"></i>
							</button>
						</div>
						<!-- EVENT ext_quickreply_editor_buttons_custom_tags_before -->
						<!-- BEGIN custom_tags -->
						<input type="button" class="btn btn-default btn-sm" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_HELPLINE}" />
						<!-- END custom_tags -->
					</div>
					<!-- IF S_QR_CAPS_ENABLE or S_QR_SHOW_BUTTON_TRANSLIT-->
					<div id="register-and-translit" class="btn-toolbar">
						<!-- IF S_QR_CAPS_ENABLE -->
						<abbr title="{L_QR_TRANSFORM_TEXT_TOOLTIP}">{L_QR_TRANSFORM_TEXT}{L_COLON}</abbr>&nbsp;
						<button type="button" class="btn btn-default" accesskey="t" name="uppercase" onclick="qr_updateCase(1)"  title="{L_QR_TRANSFORM_TEXT_UPPER_TOOLTIP}">{L_QR_TRANSFORM_TEXT_UPPER}</button>
						<button type="button" class="btn btn-default" accesskey="t" name="lowercase" onclick="qr_updateCase(0)"  title="{L_QR_TRANSFORM_TEXT_LOWER_TOOLTIP}">{L_QR_TRANSFORM_TEXT_LOWER}</button>
						<button type="button" class="btn btn-default" accesskey="t" name="inverscase" onclick="qr_updateCase(2)"  title="{L_QR_TRANSFORM_TEXT_INVERS_TOOLTIP}">{L_QR_TRANSFORM_TEXT_INVERS}</button>
						<!-- ENDIF -->
						<!-- IF S_QR_SHOW_BUTTON_TRANSLIT -->
						<abbr style="margin-left: 10px;" title="{L_QR_TRANSLIT_TEXT_TOOLTIP}">{L_QR_TRANSLIT_TEXT}{L_COLON}</abbr>&nbsp;
						<button type="button" class="btn btn-default" accesskey="t" name="uppercase" onclick="translit()"  title="{L_QR_TRANSLIT_TEXT_TOOLTIP}">{L_QR_TRANSLIT_TEXT_TO_RU}</button>
						<!-- ENDIF -->
					</div>
					<!-- ENDIF -->
					<!-- EVENT ext_quickreply_transform_text_buttons_after -->
				</div>
				<!-- EVENT ext_quickreply_editor_buttons_after -->
				<!-- ENDIF -->
				<!-- ENDIF -->
			</div>
			<!-- INCLUDE @boardtools_quickreply/quickreply_form_buttons.html -->
			<div class="panel-body no-padding">
				<!-- EVENT posting_editor_message_before -->
				<div id="message-box">
					<textarea name="message" id="qr_message_temp" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="form-control no-auto-resize">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>
				</div>
				<!-- EVENT posting_editor_message_after -->
			</div>
		</div>
	</div>
	<div class="col-md-3" id="smiley-box">
		<!-- EVENT ext_quickreply_smiley_box_prepend -->
		<!-- IF S_SMILIES_ALLOWED -->
			<!-- IF S_SMILIES_ALLOWED and .smiley -->
			<strong>{L_SMILIES}</strong><br/>
			<!-- BEGIN smiley -->
			<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
			<!-- ENDIF -->
			<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED -->
			<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
			<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT ext_quickreply_smiley_box_append -->
	</div>
</div>
