<!-- IF S_QR_SHOW_BUTTON_TRANSLIT --><!-- INCLUDEJS translit.js --><!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[

<!-- IF S_QR_NOT_CHANGE_SUBJECT -->
	$(document).ready(function() {
		$("#subject").attr('disabled', 'disabled');
		$("#subject").css('color', 'grey');
	});
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_CE_ENABLE -->
	$('textarea[name="message"]').keydown(function(event){
		if (event.keyCode == 10 || (event.ctrlKey && event.keyCode == 13)) 
		{
			$('#qr_postform input[name="post"]').click();
		}
	});
<!-- ENDIF -->

<!-- IF SCRIPT_NAME == "posting" and S_QR_CE_ENABLE -->
	$('#message').keydown(function(event){
		if (event.keyCode == 10 || (event.ctrlKey && event.keyCode == 13)) 
		{
			$('#postform input[name="post"]').click();
		}
	});
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_QUICKQUOTE_ENABLE -->
	$('#posts').on('mouseup', '.content', function(evt) {
		// Get cursor coordinates
		var pageX = evt.pageX || evt.clientX + document.documentElement.scrollLeft; // FF || IE
		var pageY = evt.pageY || evt.clientY + document.documentElement.scrollTop;
		// Which mouse button is pressed?
		var key = evt.button || evt.which || null; // IE || FF || Unknown

		//Get nick
		var qr_post_id = $(this).parent().attr('id');
		var qr_poster_id = qr_post_id.replace('post_content', 'profile');
		var nickname = $('#' + qr_poster_id + ' dt a').not('.avatar').html();
		
		// Link to the source post
		var qr_post_id_num = qr_post_id.replace('post_content', '');
		var qr_bbpost = ({QR_SOURCE_POST}) ? '[post]' + qr_post_id_num + '[/post] ' : '';
		
		setTimeout(function() { // Timeout prevents popup when clicking on selected text
			var sel = '';
			if (window.getSelection)
				sel = window.getSelection().toString();
			else if (document.getSelection)
				sel = document.getSelection();
			else if (document.selection)
				sel = document.selection.createRange().text;

			if (sel && key <= 1) { // If text selected && right mouse button not pressed
				var qrAlert = $('<div class="dropdown" style="top: ' + (pageY + 8) + 'px; left: ' + (pageX > 184 ? pageX - 184 : pageX - 20) + 'px;"><div class="pointer"' + (pageX > 184 ? (' style="left: auto; right: 10px;"') : '') + '><div class="pointer-inner"></div></div><ul class="dropdown-contents"><li><a href="#qr_postform" style="font-size: 11px !important;">{LA_QR_INSERT_TEXT}</a></li></ul></div>').appendTo('body');
				$('a', qrAlert).mousedown(function() {insert_text('[quote="' + nickname + '"]' + qr_bbpost + sel + '[/quote]\r', false); qrAlert.remove(); return false;});
				$(qrAlert).mousedown(function() {insert_text('[quote="' + nickname + '"]' + qr_bbpost + sel + '[/quote]\r', false); qrAlert.remove(); return false;});
				setTimeout(function() {$(document.body).mousedown(function() {qrAlert.remove(); $(document.body).unbind('mousedown');});}, 10);
			}
		}, 0);
	})
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_QUICKNICK_ENABLE -->
	function getHexColor(color){
		color = color.replace(/\s/g,"");
		var colorRGB = color.match(/^rgb\((\d{1,3}[%]?),(\d{1,3}[%]?),(\d{1,3}[%]?)\)$/i);
		colorHEX = '';
		for (var i=1;  i<=3; i++){
			colorHEX += Math.round((colorRGB[i][colorRGB[i].length-1]=="%"?2.55:1)*parseInt(colorRGB[i])).toString(16).replace(/^(.)$/,'0$1');
		}
		return "#" + colorHEX;
	}
	
	function qr_quicknick(evt, link, color) {
		// Get cursor coordinates
		if (!evt) evt = window.event;
		evt.preventDefault();
		var pageX = evt.pageX || evt.clientX + document.documentElement.scrollLeft; // FF || IE
		var pageY = evt.pageY || evt.clientY + document.documentElement.scrollTop;
		// Which mouse button is pressed?
		var key = evt.button || evt.which || null; // IE || FF || Unknown
		
		//Get nick and id
		var vievprofile_url = link.attr('href');
		var nickname = link.html();
		
		var qrNickAlert = $('<div class="dropdown" style="top: ' + (pageY + 8) + 'px; left: ' + (pageX > 184 ? pageX - 111 : pageX - 20) + 'px;"><div class="pointer"' + (pageX > 184 ? (' style="left: auto; right: 10px;"') : '') + '><div class="pointer-inner"></div></div><ul class="dropdown-contents"><li><a href="#qr_postform" class="qr_quicknick" style="font-size: 11px !important;" title="{LA_QR_QUICKNICK_TITLE}">{LA_QR_QUICKNICK}</a></li><li><a href="' + vievprofile_url + '" class="qr_profile" style="font-size: 11px !important;" title="{LA_QR_PROFILE}">{LA_QR_PROFILE}</a></li></ul></div>').appendTo('body');
				
		var comma = ({S_QR_COMMA_ENABLE}) ? ', ' : '\r\n';
		var qr_colour_nickname = {S_QR_COLOUR_NICKNAME};
		var qr_color = (qr_colour_nickname && color) ? '=' + getHexColor(color) : '';
		$('a.qr_quicknick', qrNickAlert).mousedown(function() {insert_text('[ref' + qr_color + ']' + nickname + '[/ref]' + comma, false); qrNickAlert.remove(); return false;});
		
		$('a.qr_profile', qrNickAlert).mousedown(function(e) {e.preventDefault(); document.location.href = vievprofile_url; qrNickAlert.remove(); return false;});
		
		setTimeout(function() {$(document.body).mousedown(function() {qrNickAlert.remove(); $(document.body).unbind('mousedown');});}, 10);
	}
	
	$('#posts').on('click', 'a.username', function(e) {
		qr_quicknick(e, $(this), false);
	});
	
	$('#posts').on('click', 'a.username-coloured', function(e) {
		qr_quicknick(e, $(this), $(this).css('color'));
	});
	
	$(document).ready(function() {
		$('#posts a.username').each(function() {
			$(this).attr('title', '{LA_QR_QUICKNICK}');
		});
		
		$('#posts a.username-coloured').each(function() {
			$(this).attr('title', '{LA_QR_QUICKNICK}');
		});
	});
	
	<!-- IF S_LIVE_SEARCH and LIVE_SEARCH_ON_OFF_USER -->
		$(document).ready(function() {
			$('#topics_live_search').parent().before('<li><a id="qr_quicknick_live_search" href="#qr_postform" title="{LA_QR_QUICKNICK_TITLE}">{LA_QR_QUICKNICK}</a></li><li class="separator"></li>');
		});
		
		$('#leavesearch').on('click', '#qr_quicknick_live_search', function() {
			var comma = ({S_QR_COMMA_ENABLE}) ? ', ' : '',
				nickname = $('#user_live_search').val();

			insert_text('[ref]' + nickname + '[/ref]' + comma, false);
		});
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_AJAX_SUBMIT -->
<!-- ajax_submit -->
	var numrow = $('#post_ajax_content').attr('numrow');
	var next_page = (numrow == parseInt({CONFIG_POSTS_PER_PAGE}) - 1) ? 1 : 0;
	
	phpbb.addAjaxCallback('qr_ajax_submit', function(res) {
		if (res.success) {
			var posts_content = $('#posts_content').html(), //All post, except for the last post
				post_ajax_content = $('#post_ajax_content').html(), //Last post
				post_id_before = $('#post_ajax_content div').attr('id').replace(/p/, ''); //id of the last post before sending
				
			$('#post_ajax').load('# #post_ajax_content', function () {
				var post_id_after = $('#post_ajax_content div').attr('id').replace(/p/, ''); //id of the last post after sending

				numrow = $('#post_ajax_content').attr('numrow');
						
				if (numrow == parseInt({CONFIG_POSTS_PER_PAGE}) - 1)
				{
					if (next_page == 0)
					{
						next_page = 1;
					}
					else
					{
						location.href = res.url.replace(/&amp\;/ig, '&');
					}
				}
					
				if(post_id_after > post_id_before) //for posts_merging - bug in IE 11
				{
					$('#posts_content').html(posts_content + post_ajax_content);
					$('input[name="topic_cur_post_id"]').attr('value', post_id_after);
					handle_drops($('#post_ajax').prev('div'));
					
					//New posts number
					var regexp = /(\d)+/,
						qr_pagination = $('.action-bar .pagination').html(),
						qr_pg_number = regexp.exec(qr_pagination);
					qr_pg_number = parseInt(qr_pg_number[0]) + 1;
					
					qr_pagination = qr_pagination.replace(regexp, qr_pg_number);
					$('.action-bar .pagination').html(qr_pagination);
				}
				handle_drops($('#post_ajax'));
				qr_responsive_links($('#post_ajax'));
				<!-- IF S_QR_QUICKNICK_ENABLE -->
					$('#post_ajax a.username').each(function() {
						$(this).attr('title', '{LA_QR_QUICKNICK}');
					});
					
					$('#post_ajax a.username-coloured').each(function() {
						$(this).attr('title', '{LA_QR_QUICKNICK}');
					});
				<!-- ENDIF -->
					
				$('.icon_post_target_unread').removeClass('icon_post_target_unread').addClass('icon_post_target');
					
				<!-- IF S_ABBC3_INSTALLED -->
					var bbvideo = $('#post_ajax_content').find('.bbvideo');
					if(bbvideo.length > 0) {
						$('#post_ajax_content .bbvideo').bbvideo();
					}
				<!-- ENDIF -->
					
				//Sending form
				$('input[name="post"]').removeAttr('data-clicked');
				$('#message-box textarea').val('');
				$('#message-box textarea').attr('style', 'height: 9em;');
				
				if($('#preview').css('display') == 'block')
				{
					$('#preview').css('display', 'none');
					$('#preview h3').html('');
					$('#preview .content').html('');
					<!-- IF S_QR_SHOW_ATTACH_BOX -->
						$('#preview').find('dl.attachbox').remove();
					<!-- ENDIF -->
				}
				
				if($('#colour_palette').is(':visible'))
				{
					<!-- IF S_ABBC3_INSTALLED -->
						$('#abbc3_bbpalette').click();
					<!-- ELSE -->
						$('#bbpalette').click();
					<!-- ENDIF -->
				}
				
				<!-- IF QR_HIDE_POSTS_SUBJECT -->
					$('#post_ajax_content').find('.post .postbody div').each(function() {
						$(this).find('h3:first').css('display', 'none');
						//$(this).find('p.author').css('display', 'inline');
					});
				<!-- ENDIF -->

				if(res.prew_url)
				{
					$('#post_ajax').before('<div class="post bg1"><div class="inner"><a href="' + res.prew_url + '">{LA_QR_PREW_POSTS}</a></div></div>');
				}
				
				<!-- IF S_QR_SHOW_ATTACH_BOX -->
					$('#file-list-container').css('display', 'none');
					$('#file-list').empty();
					phpbb.plupload.clearParams();
					$('#preview').find('dl.attachbox').remove();
				<!-- ENDIF -->
			});
			
		} else {
			if (res.NEXT_URL) {
				setTimeout(function() {
					localStorage['qr_save_message'] = $('#message-box textarea').val();
					document.location.href = res.NEXT_URL.replace(/&amp\;/ig, '&');;
				},  3000);
			}
				
			//if(!res.error && !res.preview) {
			//	var qr_error_title = '{LA_AJAX_ERROR_TITLE}',
			//		qr_error_message = '{LA_AJAX_ERROR_TEXT}';
			//		
			//	alert = phpbb.alert(qr_error_title, qr_error_message);
			//	setTimeout(function() {
			//		$('#darkenwrapper').fadeOut(phpbb.alertTime, function() {
			//			alert.hide();
			//		});
			//	},  3000);
			//}
				
			if(res.preview)
			{
				$('#preview').css('display', 'block');
				$('#preview h3').html(res.PREVIEW_TITLE);
				$('#preview .content').html(res.PREVIEW_TEXT);
				<!-- IF S_QR_SHOW_ATTACH_BOX -->
					if(res.PREVIEW_ATTACH) {
						$('#preview').find('dl.attachbox').remove();
						$('#preview .content').after(res.PREVIEW_ATTACH);
					}
				<!-- ENDIF -->
				<!-- IF S_ABBC3_INSTALLED -->
					var bbvideo = $('#preview').find('.bbvideo');
					if(bbvideo.length > 0) {
						$('#preview .bbvideo').bbvideo();
					}
				<!-- ENDIF -->
			}
				
			if(res.noapprove)
			{
				$('input[name="post"]').removeAttr('data-clicked');
				$('#message-box textarea').val('');
				$('#message-box textarea').attr('style', 'height: 9em;');
				
				if($('#preview').css('display') == 'block')
				{
					$('#preview').css('display', 'none');
					$('#preview h3').html('');
					$('#preview .content').html('');
					<!-- IF S_QR_SHOW_ATTACH_BOX -->
						$('#preview').find('dl.attachbox').remove();
					<!-- ENDIF -->
				}
				
				if($('#colour_palette').is(':visible'))
				{
					<!-- IF S_ABBC3_INSTALLED -->
						$('#abbc3_bbpalette').click();
					<!-- ELSE -->
						$('#bbpalette').click();
					<!-- ENDIF -->
				}
			}
		}
	});
	
	if(localStorage['qr_save_message'])
	{
		$('#message-box textarea').val(localStorage['qr_save_message']);
		localStorage['qr_save_message'] = '';
	}
	
	$('.reply-icon').click(function () {
		var message = $('#message-box textarea').val();		
		
		if(message)
		{
			localStorage['qr_save_message'] = message;
		}
	});
<!-- ENDIF -->
	
<!-- IF SCRIPT_NAME == "posting" -->
	if(localStorage['qr_save_message'])
	{
		$('#message').val(localStorage['qr_save_message']);
		localStorage['qr_save_message'] = '';
	}
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_AJAX_SUBMIT -->	
	function handle_drops(container)
	{
		/**
		* Dropdowns
		*/
		container.find('.dropdown-container').each(function() {
			var $this = $(this),
				trigger = $this.find('.dropdown-trigger:first'),
				contents = $this.find('.dropdown'),
				options = {
					direction: 'auto',
					verticalDirection: 'auto'
				},
				data;

			if (!trigger.length) {
				data = $this.attr('data-dropdown-trigger');
				trigger = data ? $this.children(data) : $this.children('a:first');
			}

			if (!contents.length) {
				data = $this.attr('data-dropdown-contents');
				contents = data ? $this.children(data) : $this.children('div:first');
			}

			if (!trigger.length || !contents.length) return;

			if ($this.hasClass('dropdown-up')) options.verticalDirection = 'up';
			if ($this.hasClass('dropdown-down')) options.verticalDirection = 'down';
			if ($this.hasClass('dropdown-left')) options.direction = 'left';
			if ($this.hasClass('dropdown-right')) options.direction = 'right';

			phpbb.registerDropdown(trigger, contents, options);
		});
	}
	
	function qr_responsive_links(container)
	{
		/**
		* Responsive link lists
		*/
		container.find('.linklist:not(.navlinks, [data-skip-responsive]), .postbody .post-buttons:not([data-skip-responsive])').each(function() {
			var $this = $(this),
				$body = $('body'),
				filterSkip = '.breadcrumbs, [data-skip-responsive]',
				filterLast = '.edit-icon, .quote-icon, [data-last-responsive]',
				persist = $this.attr('id') == 'nav-main',
				allLinks = $this.children(),
				links = allLinks.not(filterSkip),
				html = '<li class="responsive-menu" style="display:none;"><a href="javascript:void(0);" class="responsive-menu-link">&nbsp;</a><div class="dropdown" style="display:none;"><div class="pointer"><div class="pointer-inner" /></div><ul class="dropdown-contents" /></div></li>',
				filterLastList = links.filter(filterLast),
				slack = 1; // Vertical slack space (in pixels). Determines how sensitive the script is in determining whether a line-break has occured. 

			if (!persist) {
				if (links.is('.rightside'))
				{
					links.filter('.rightside:first').before(html);
					$this.children('.responsive-menu').addClass('rightside');
				}
				else
				{
					$this.append(html);
				}
			}

			var item = $this.children('.responsive-menu'),
				menu = item.find('.dropdown-contents'),
				lastWidth = false,
				compact = false,
				responsive = false,
				copied = false;

			function check() {
				var width = $body.width();
				if (responsive && width <= lastWidth) {
					return;
				}

				// Unhide the quick-links menu if it has content
				if (persist) {
					item.addClass('hidden');
					if (menu.find('li:not(.separator, .clone)').length || (responsive && menu.find('li.clone').length)) {
						item.removeClass('hidden');
					}
				}

				// Reset responsive and compact layout
				if (responsive) {
					responsive = false;
					$this.removeClass('responsive');
					links.css('display', '');
					if (!persist) item.css('display', 'none');
				}

				if (compact) {
					compact = false;
					$this.removeClass('compact');
				}

				// Find tallest element
				var maxHeight = 0;
				allLinks.each(function() {
					if (!$(this).height()) return;
					maxHeight = Math.max(maxHeight, $(this).outerHeight(true));
				});

				if (maxHeight < 1) {
					return;
				}

				// Nothing to resize if block's height is not bigger than tallest element's height
				if ($this.height() <= (maxHeight + slack)) {
					return;
				}

				// Enable compact layout, find tallest element, compare to height of whole block
				compact = true;
				$this.addClass('compact');

				var compactMaxHeight = 0;
				allLinks.each(function() {
					if (!$(this).height()) return;
					compactMaxHeight = Math.max(compactMaxHeight, $(this).outerHeight(true));
				});

				if ($this.height() <= (maxHeight + slack)) {
					return;
				}

				// Compact layout did not resize block enough, switch to responsive layout
				compact = false;
				$this.removeClass('compact');
				responsive = true;

				if (!copied) {
					var clone = links.clone(true);
					clone.filter('.rightside').each(function() {
						if (persist) $(this).addClass('clone');
						menu.prepend(this);
					});
					
					if (persist) {
						menu.prepend(clone.not('.rightside').addClass('clone'));
					} else {
						menu.prepend(clone.not('.rightside'));
					}

					menu.find('li.leftside, li.rightside').removeClass('leftside rightside');
					menu.find('.inputbox').parents('li:first').css('white-space', 'normal');

					if ($this.hasClass('post-buttons')) {
						$('.button', menu).removeClass('button icon-button');
						$('.responsive-menu-link', item).addClass('button icon-button').prepend('<span></span>');
					}
					copied = true;
				}
				else {
					menu.children().css('display', '');
				}

				item.css('display', '');
				$this.addClass('responsive');

				// Try to not hide filtered items
				if (filterLastList.length) {
					links.not(filterLast).css('display', 'none');

					maxHeight = 0;
					filterLastList.each(function() {
						if (!$(this).height()) return;
						maxHeight = Math.max(maxHeight, $(this).outerHeight(true));
					});

					if ($this.height() <= (maxHeight + slack)) {
						menu.children().filter(filterLast).css('display', 'none');
						return;
					}
				}

				// If even responsive isn't enough, use both responsive and compact at same time
				compact = true;
				$this.addClass('compact');

				links.css('display', 'none');
			}

			if (!persist) phpbb.registerDropdown(item.find('a.responsive-menu-link'), item.find('.dropdown'));

			check();
			$(window).resize(check);
		});
	}
<!-- end ajax_submit -->
<!-- ENDIF -->

<!-- IF .searchresults and QR_HIDE_POSTS_SUBJECT -->
	$('#page-body').find('.not_first_post').each(function() {
		$(this).next('div.search').find('div.postbody h3:first').css('display', 'none');
	});
<!-- ENDIF -->

<!-- IF S_VIEWTOPIC and QR_HIDE_POSTS_SUBJECT -->
	$('#page-body').find('.post .postbody div').each(function() {
		var qr_post_subject = $(this).find('h3:first').not('.first');
		qr_post_subject.css('display', 'none');
		//qr_post_subject.next().next('p.author').css('display', 'inline');
	});
<!-- ENDIF -->

// ]]>
</script>

<!-- IF S_PLUPLOAD and S_QR_SHOW_ATTACH_BOX --><!-- INCLUDE qr_plupload.html --><!-- ENDIF -->
