<script type="text/javascript">
// <![CDATA[

<!-- IF S_QR_NOT_CHANGE_SUBJECT -->
	//$(document).ready(function() {
		$("#subject").attr('disabled', 'disabled');
		$("#subject").css('color', 'grey');
	//});
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_CE_ENABLE -->
	$('textarea[name="message"]').keydown(function(event){
		if (event.keyCode == 10 || (event.ctrlKey && event.keyCode == 13)) 
		{
			$('#qr_postform input[name="post"]').click();
		}
	});
<!-- ENDIF -->

<!-- IF SCRIPT_NAME == "posting" and S_QR_CE_ENABLE -->
	$('#message').keydown(function(event){
		if (event.keyCode == 10 || (event.ctrlKey && event.keyCode == 13)) 
		{
			$('#postform input[name="post"]').click();
		}
	});
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_QUICKQUOTE_ENABLE -->
	$( ".content" ).mouseup(function(evt) {
		// Get cursor coordinates
		var pageX = evt.pageX || evt.clientX + document.documentElement.scrollLeft; // FF || IE
		var pageY = evt.pageY || evt.clientY + document.documentElement.scrollTop;
		// Which mouse button is pressed?
		var key = evt.button || evt.which || null; // IE || FF || Unknown

		//Get nick
		var qr_post_id = $(this).parent().attr('id');
		var qr_poster_id = qr_post_id.replace('post_content', 'profile');
		var nickname = $('#' + qr_poster_id + ' dt a').not('.avatar').html();
		
		setTimeout(function() { // Timeout prevents popup when clicking on selected text
			var sel = '';
			if (window.getSelection)
				sel = window.getSelection().toString();
			else if (document.getSelection)
				sel = document.getSelection();
			else if (document.selection)
				sel = document.selection.createRange().text;

			if (sel && key <= 1) { // If text selected && right mouse button not pressed
				var qrAlert = $('<div class="dropdown" style="top: ' + (pageY + 8) + 'px; left: ' + (pageX > 184 ? pageX - 184 : pageX - 20) + 'px;"><div class="pointer"' + (pageX > 184 ? (' style="left: auto; right: 10px;"') : '') + '><div class="pointer-inner"></div></div><ul class="dropdown-contents"><li><a href="#qr_postform" style="font-size: 11px !important;">{L_QR_INSERT_TEXT}</a></li></ul></div>').appendTo('body');
				$('a', qrAlert).mousedown(function() {insert_text('[quote="' + nickname + '"]' + sel + '[/quote]\r', false); qrAlert.remove(); return false;});
				setTimeout(function() {$(document.body).mousedown(function() {qrAlert.remove(); $(document.body).unbind('mousedown');});}, 10);
			}
		}, 0);
	})
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY and S_QR_QUICKNICK_ENABLE -->
	$('a.username').click(function(evt) {
		// Get cursor coordinates
		if (!evt) evt = window.event;
		var pageX = evt.pageX || evt.clientX + document.documentElement.scrollLeft; // FF || IE
		var pageY = evt.pageY || evt.clientY + document.documentElement.scrollTop;
		// Which mouse button is pressed?
		var key = evt.button || evt.which || null; // IE || FF || Unknown
		
		//Get nick and id
		var poster_id = $(this).attr('id');
		var nickname = $(this).html();
		
		var qrNickAlert = $('<div class="dropdown" style="top: ' + (pageY + 8) + 'px; left: ' + (pageX > 184 ? pageX - 111 : pageX - 20) + 'px;"><div class="pointer"' + (pageX > 184 ? (' style="left: auto; right: 10px;"') : '') + '><div class="pointer-inner"></div></div><ul class="dropdown-contents"><li><a href="#qr_postform" class="qr_quicknick" style="font-size: 11px !important;" title="{L_QR_QUICKNICK_TITLE}">{L_QR_QUICKNICK}</a></li><li><a href="javascript:void(0);" class="qr_profile" style="font-size: 11px !important;" title="{L_QR_PROFILE}">{L_QR_PROFILE}</a></li></ul></div>').appendTo('body');
				
		var comma = ({S_QR_COMMA_ENABLE}) ? ', ' : '';
		$('a.qr_quicknick', qrNickAlert).mousedown(function() {insert_text('[b]' + nickname + '[/b]' + comma, false); qrNickAlert.remove(); return false;});
		
		$('a.qr_profile', qrNickAlert).mousedown(function() {document.location.href = "./memberlist.php?mode=viewprofile&u=" + poster_id; qrNickAlert.remove(); return false;});
		
		setTimeout(function() {$(document.body).mousedown(function() {qrNickAlert.remove(); $(document.body).unbind('mousedown');});}, 10);
	});
<!-- ENDIF -->

<!-- ajax_submit -->
<!-- IF S_QUICK_REPLY -->
	$('#qr_postform').attr('data-ajax', 'qr_ajax_submit');
	
	<!-- IF QR_POST_TO_NEXT_PAGE -->
		$('#qr_postform').attr('data-refresh', 'true');
	<!-- ENDIF -->
	
	$('input[name="post"]').click(function () {
		phpbb.addAjaxCallback('qr_ajax_submit', function(res) {
			<!-- IF not QR_POST_TO_NEXT_PAGE -->
			if (res.success) {
				$('#posts').load('#posts');
				$('#message-box textarea').val('');
				$('#qr_postform .submit-buttons').load('#qr_postform .submit-buttons');
			} else {
				if($('#message-box textarea').val().length < {QR_MIN_POST_CHARS}) 
				{
					var qr_error_title = '{L_INFORMATION}';
					var qr_error_message = '{L_QR_TOO_FEW_CHARS}';
				} else {
					var qr_error_title = '{L_AJAX_ERROR_TITLE}';
					var qr_error_message = '{L_AJAX_ERROR_TEXT}';
				}
				
				alert = phpbb.alert(qr_error_title, qr_error_message);
				setTimeout(function() {
					$('#darkenwrapper').fadeOut(phpbb.alertTime, function() {
						alert.hide();
					});
				},  3000);
			}
			<!-- ENDIF -->
		});
	});
	
	$('#qr_full_editor').click(function () {
		var message = $('#message-box textarea').val();
		var action = $('#qr_postform').attr('action');		
		
		if(message)
		{
			localStorage['qr_save_message'] = message;
			document.location.href = action + '#preview';
		}
		else
		{
			document.location.href = action;
		}
	});
<!-- ENDIF -->
	
<!-- IF SCRIPT_NAME == "posting" -->
	if(localStorage['qr_save_message'])
	{
		$('#message').val(localStorage['qr_save_message']);
		localStorage['qr_save_message'] = '';
	}
<!-- ENDIF -->
<!-- end ajax_submit -->	
	
// ]]>
</script>