{% if S_QR_NOT_CHANGE_SUBJECT %}
	<input type="hidden" name="subject" value="{{ SUBJECT }}" />
{% endif %}

{% if S_DISPLAY_USERNAME %}
<dl style="clear: left;">
	<dt><label for="username">{{ lang('USERNAME') }}{{ lang('L_COLON') }}</label></dt>
	<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{{ USERNAME }}" class="inputbox autowidth" /></dd>
</dl>
{% endif %}

{% if (CAPTCHA_TEMPLATE and S_CONFIRM_CODE) %}
<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
<div id="qr_captcha_container">
{% include CAPTCHA_TEMPLATE %}
</div>
{% endif %}

<script>
	var form_name = 'qr_postform';
	var text_name = 'message';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'{% for custom_tag in custom_tags %}, {custom_tag.BBCODE_NAME}{% endfor %});
	var imageTag = false;

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{{ lang("FONT_COLOR_HIDE")|addslashes }}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{{ lang("FONT_COLOR")|addslashes }}';
		}
	}

{% if S_QR_CAPS_ENABLE %}
	function qr_formatToggle(s)
	{
		var t = '', sc = s.length, c;
		for (i = 0; i < sc; i++)
		{
			c = s.charAt(i);
			if (c.toLowerCase() == c) c = c.toUpperCase();
			else if (c.toUpperCase() == c) c = c.toLowerCase();
			t += c;
		}
		return t;
	}
    // param: reg = 0 - lowercase, reg = 1 - uppercase, reg = 2 - inverse
	function qr_updateCase(reg)
	{
		var buf = '', selection = null, start, end;
		var txtarea = document.forms[form_name].elements[text_name];

		if (document.selection) {
			selection = document.selection.createRange();
			buf = selection.text;
		}
		else if (typeof (txtarea.selectionStart) == "number") {
			start = txtarea.selectionStart;
			end = txtarea.selectionEnd;
			if (start != end)  buf = txtarea.value.substr(start, end - start);
			else buf = txtarea.value;
		}
		else {
			buf = txtarea.value;
		}

		switch (parseInt(reg)) {
			case 0: buf = buf.toLowerCase(); break;
			case 1: buf = buf.toUpperCase(); break;
			case 2: buf = qr_formatToggle(buf); break;
		}

		if (selection) {
			selection.text = buf;
		}
		else if (start != end) {
			txtarea.value = txtarea.value.substr(0, start) + buf + txtarea.value.substr(end);
		}
		else {
			txtarea.value = buf;
		}
		txtarea.focus();
	}
{% endif %}
</script>
{% INCLUDEJS T_ASSETS_PATH ~ '/javascript/editor.js' %}

{% if (S_BBCODE_BUTTONS and not(S_ABBC3_QR_BBCODES)) %}
<div id="colour_palette" style="display: none;">
	<dl style="clear: left;">
		<dt><label>{{ lang('FONT_COLOR') }}{{ lang('COLON') }}</label></dt>
		<dd id="color_palette_placeholder" class="color_palette_placeholder" data-color-palette="h" data-height="12" data-width="15" data-bbcode="true"></dd>
	</dl>
</div>

<div id="format-buttons" class="format-buttons">
{% EVENT ext_quickreply_editor_buttons_before %}
	<button type="button" class="button button-icon-only bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="{{ lang('BBCODE_B_HELP') }}">
		<i class="icon fa-bold fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="{{ lang('BBCODE_I_HELP') }}">
		<i class="icon fa-italic fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-u" accesskey="u" name="addbbcode4" value=" u " onclick="bbstyle(4)" title="{{ lang('BBCODE_U_HELP') }}">
		<i class="icon fa-underline fa-fw" aria-hidden="true"></i>
	</button>
	{% if S_BBCODE_QUOTE %}
	<button type="button" class="button button-icon-only bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="{{ lang('BBCODE_Q_HELP') }}">
		<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	<button type="button" class="button button-icon-only bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="{{ lang('BBCODE_C_HELP') }}">
		<i class="icon fa-code fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(10)" title="{{ lang('BBCODE_L_HELP') }}">
		<i class="icon fa-list fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-list-" accesskey="o" name="addbbcode12" value="List=" onclick="bbstyle(12)" title="{{ lang('BBCODE_O_HELP') }}">
		<i class="icon fa-list-ol fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-asterisk" accesskey="y" name="addlistitem" value="[*]" onclick="bbstyle(-1)" title="{{ lang('BBCODE_LISTITEM_HELP') }}">
		<i class="icon fa-asterisk fa-fw" aria-hidden="true"></i>
	</button>
	{% if S_BBCODE_IMG %}
	<button type="button" class="button button-icon-only bbcode-img" accesskey="p" name="addbbcode14" value="Img" onclick="bbstyle(14)" title="{{ lang('BBCODE_P_HELP') }}">
		<i class="icon fa-image fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	{% if S_LINKS_ALLOWED %}
	<button type="button" class="button button-icon-only bbcode-url" accesskey="w" name="addbbcode16" value="URL" onclick="bbstyle(16)" title="{{ lang('BBCODE_W_HELP') }}">
		<i class="icon fa-link fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	{% if S_BBCODE_FLASH %}
	<button type="button" class="button button-icon-only bbcode-flash" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" title="{{ lang('BBCODE_D_HELP') }}">
		<i class="icon fa-flash fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	<button type="button" class="button button-icon-only bbcode-color" name="bbpalette" id="bbpalette" value="{{ lang('FONT_COLOR') }}" onclick="change_palette();" title="{{ lang('BBCODE_S_HELP') }}">
		<i class="icon fa-tint fa-fw" aria-hidden="true"></i>
	</button>
	<select name="addbbcode20" class="bbcode-size" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{{ lang('BBCODE_F_HELP') }}">
		<option value="50">{{ lang('FONT_TINY') }}</option>
		<option value="85">{{ lang('FONT_SMALL') }}</option>
		<option value="100" selected="selected">{{ lang('FONT_NORMAL') }}</option>
		{% if (not(MAX_FONT_SIZE) or MAX_FONT_SIZE >= 150) %}
			<option value="150">{{ lang('FONT_LARGE') }}</option>
			{% if (not(MAX_FONT_SIZE) or MAX_FONT_SIZE >= 200) %}
				<option value="200">{{ lang('FONT_HUGE') }}</option>
			{% endif %}
		{% endif %}
	</select>

	{% EVENT ext_quickreply_editor_buttons_custom_tags_before %}

	{% for custom_tag in custom_tags %}
	<button type="button" class="button button-secondary bbcode-{{ custom_tag.BBCODE_TAG_CLEAN }}" name="addbbcode{{ custom_tag.BBCODE_ID }}" value="{{ custom_tag.BBCODE_TAG }}" onclick="bbstyle({{ custom_tag.BBCODE_ID }})" title="{{ custom_tag.BBCODE_HELPLINE }}">
  		{{ custom_tag.BBCODE_TAG }}
  	</button>
	{% endfor %}
{% EVENT ext_quickreply_editor_buttons_after %}
</div>
{% endif %}
{% if (S_QR_CAPS_ENABLE or S_QR_SHOW_BUTTON_TRANSLIT) %}
<div id="register-and-translit">
{% if S_QR_CAPS_ENABLE %}
	<abbr style="border-bottom:1px dashed #777; cursor:help;" title="{{ lang('QR_TRANSFORM_TEXT_TOOLTIP') }}">{{ lang('QR_TRANSFORM_TEXT') }}{{ lang('COLON') }}</abbr>&nbsp;
	<input type="button" class="button button-secondary" accesskey="t" name="uppercase" value="{{ lang('QR_TRANSFORM_TEXT_UPPER') }}" onclick="qr_updateCase(1)"  title="{{ lang('QR_TRANSFORM_TEXT_UPPER_TOOLTIP') }}" />
    <input type="button" class="button button-secondary" accesskey="t" name="lowercase" value="{{ lang('QR_TRANSFORM_TEXT_LOWER') }}" onclick="qr_updateCase(0)"  title="{{ lang('QR_TRANSFORM_TEXT_LOWER_TOOLTIP') }}" />
	<input type="button" class="button button-secondary" accesskey="t" name="inverscase" value="{{ lang('QR_TRANSFORM_TEXT_INVERS') }}" onclick="qr_updateCase(2)"  title="{{ lang('QR_TRANSFORM_TEXT_INVERS_TOOLTIP') }}" />
{% endif %}
{% if S_QR_SHOW_BUTTON_TRANSLIT %}
	<abbr style="border-bottom:1px dashed #777; cursor:help;" title="{{ lang('QR_TRANSLIT_TEXT_TOOLTIP') }}">{{ lang('QR_TRANSLIT_TEXT') }}{{ lang('COLON') }}</abbr>&nbsp;
	<input type="button" class="button button-secondary" accesskey="t" name="uppercase" value="{{ lang('QR_TRANSLIT_TEXT_TO_RU') }}" onclick="translit()"  title="{{ lang('QR_TRANSLIT_TEXT_TOOLTIP') }}" />
{% endif %}
</div>
{% endif %}
{% EVENT ext_quickreply_transform_text_buttons_after %}
	<div id="smiley-box" class="smiley-box">
		{% EVENT ext_quickreply_smiley_box_prepend %}
		{% if (S_SMILIES_ALLOWED and loops.smiley) %}
			<strong>{{ lang('SMILIES') }}</strong><br />
			{% for smile in smiley %}
				<a href="#" onclick="insert_text('{{ smile.A_SMILEY_CODE }}', true); return false;"><img src="{{ smile.SMILEY_IMG }}" width="{{ smile.SMILEY_WIDTH }}" height="{{ smile.SMILEY_HEIGHT }}" alt="{{ smile.SMILEY_CODE }}" title="{{ smile.SMILEY_DESC }}" /></a>
			{% endfor %}
		{% endif %}
		{% if (S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED) %}
			<br /><a href="{{ U_MORE_SMILIES }}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a>
		{% endif %}
		{% EVENT ext_quickreply_smiley_box_append %}
	</div>
{% include '@boardtools_quickreply/quickreply_form_buttons.html' %}
