<!-- IF S_QR_AJAX_SUBMIT or S_QR_SHOW_ATTACH_BOX -->
<script type="text/javascript">
// <![CDATA[
	<!-- IF S_QR_AJAX_SUBMIT -->
		var qr_postform = document.getElementById('qr_postform');
		qr_postform.setAttribute('data-ajax', 'qr_ajax_submit');
	<!-- ENDIF -->
	<!-- IF S_QR_SHOW_ATTACH_BOX -->
		var qr_textarea = document.getElementById('message-box').getElementsByTagName('textarea')[0];
		qr_textarea.setAttribute('id', 'message');
	<!-- ENDIF -->
// ]]>
</script>
<!-- ENDIF -->
	
<!-- IF S_QR_SHOW_ATTACH_BOX -->
	<!-- INCLUDE posting_attach_body.html -->
<!-- ENDIF -->