<!-- IF S_AJAX_PAGINATION -->
<dl>
	<dt><label for="ajax_pagination1">{L_QR_ENABLE_AJAX_PAGINATION}{L_COLON}</label></dt>
	<dd>
		<label for="ajax_pagination1"><input type="radio" name="ajax_pagination" id="ajax_pagination1" value="1"<!-- IF S_ENABLE_AJAX_PAGINATION --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="ajax_pagination0"><input type="radio" name="ajax_pagination" id="ajax_pagination0" value="0"<!-- IF not S_ENABLE_AJAX_PAGINATION --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<!-- ENDIF -->
<dl>
	<dt><label for="qr_enable_scroll1">{L_QR_ENABLE_SCROLL}{L_COLON}</label></dt>
	<dd>
		<label for="qr_enable_scroll1"><input type="radio" name="qr_enable_scroll" id="qr_enable_scroll1" value="1"<!-- IF S_QR_ENABLE_SCROLL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="qr_enable_scroll0"><input type="radio" name="qr_enable_scroll" id="qr_enable_scroll0" value="0"<!-- IF not S_QR_ENABLE_SCROLL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<!-- IF S_QR_ALLOW_SOFT_SCROLL -->
<dl>
	<dt><label for="qr_soft_scroll1">{L_QR_ENABLE_SOFT_SCROLL}{L_COLON}</label></dt>
	<dd>
		<label for="qr_soft_scroll1"><input type="radio" name="qr_soft_scroll" id="qr_soft_scroll1" value="1"<!-- IF S_QR_SOFT_SCROLL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="qr_soft_scroll0"><input type="radio" name="qr_soft_scroll" id="qr_soft_scroll0" value="0"<!-- IF not S_QR_SOFT_SCROLL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<!-- ENDIF -->
