{% if S_QR_AJAX_SUBMIT %}
<dl>
	<dt><label for="qr_ajax_submit">{{ lang('ACP_QR_FORUM_AJAX_SUBMIT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_QR_FORUM_AJAX_SUBMIT_EXPLAIN') }}</span></dt>
	<dd><label><input type="radio" class="radio" name="qr_ajax_submit" value="1"{% if IF S_ENABLE_QR_AJAX_SUBMIT %} id="qr_ajax_submit" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="qr_ajax_submit" value="0"{% if not(S_ENABLE_QR_AJAX_SUBMIT) %} id="qr_ajax_submit" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
</dl>
{% endif %}
<dl>
	<dt><label for="qr_form_type">{{ lang('ACP_QR_FORM_TYPE') }}{{ lang('COLON') }}</label></dt>
	<dd>
		<select id="qr_form_type" name="qr_form_type">
			<option value="0"{% if S_QR_FORM_TYPE == 0 %} selected="selected"{% endif %}>
				{{ lang('ACP_QR_FORM_TYPE_STANDARD') }}
			</option>
			<option value="1"{% if S_QR_FORM_TYPE == 1 %} selected="selected"{% endif %}>
				{{ lang('ACP_QR_FORM_TYPE_FIXED') }}
			</option>
		</select>
	</dd>
</dl>
