<!-- IF S_QUICK_REPLY -->
<div id="qr_message" style="display: none;">{MESSAGE}</div>
<div id="qr_read_post_img" style="display: none;">{READ_POST_IMG}</div>
<!-- ENDIF -->
<script type="text/javascript">
//<![CDATA[
var quickreply = {};
<!-- IF S_QUICK_REPLY -->

// External plugins compatible with QuickReply.
quickreply.plugins = {
	abbc3: <!-- IF S_ABBC3_INSTALLED -->true<!-- ELSE -->false<!-- ENDIF -->,
	liveSearch: <!-- IF S_LIVE_SEARCH and LIVE_SEARCH_ON_OFF_USER -->true<!-- ELSE -->false<!-- ENDIF -->,
	reCAPTCHA2: <!-- IF S_RECAPTCHA_AVAILABLE and RECAPTCHA2_SITEKEY -->true<!-- ELSE -->false<!-- ENDIF -->,
	seo: <!-- IF SEO_PHPBB_URL -->true<!-- ELSE -->false<!-- ENDIF -->
};

// Configuration settings for QuickReply.
quickreply.settings = {
	ajaxPagination: <!-- IF S_QR_AJAX_PAGINATION -->true<!-- ELSE -->false<!-- ENDIF -->,
	ajaxSubmit: <!-- IF S_QR_AJAX_SUBMIT -->true<!-- ELSE -->false<!-- ENDIF -->,
	allowedGuest: <!-- IF S_QR_ALLOWED_GUEST -->true<!-- ELSE -->false<!-- ENDIF -->,
	attachBox: <!-- IF S_QR_SHOW_ATTACH_BOX -->true<!-- ELSE -->false<!-- ENDIF -->,
	colouredNick: <!-- IF S_QR_COLOUR_NICKNAME -->true<!-- ELSE -->false<!-- ENDIF -->,
	ctrlEnter: <!-- IF S_QR_CE_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableBBCode: <!-- IF S_BBCODE_ALLOWED -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableComma: <!-- IF S_QR_COMMA_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableScroll: <!-- IF S_QR_ENABLE_SCROLL -->true<!-- ELSE -->false<!-- ENDIF -->,
	fullQuote: <!-- IF S_QR_FULL_QUOTE -->true<!-- ELSE -->false<!-- ENDIF -->,
	hideSubjectBox: <!-- IF QR_HIDE_SUBJECT_BOX -->true<!-- ELSE -->false<!-- ENDIF -->,
	pluploadEnabled: <!-- IF S_PLUPLOAD and S_QR_SHOW_ATTACH_BOX -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNick: <!-- IF S_QR_QUICKNICK_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNickRef: <!-- IF S_QR_QUICKNICK_REF -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNickPM: <!-- IF S_QR_QUICKNICK_PM -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickQuote: <!-- IF S_QR_QUICKQUOTE_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickQuoteLink: <!-- IF S_QR_QUICKQUOTE_LINK -->true<!-- ELSE -->false<!-- ENDIF -->,
	scrollInterval: {S_QR_SCROLL_INTERVAL},
	softScroll: <!-- IF S_QR_SOFT_SCROLL -->true<!-- ELSE -->false<!-- ENDIF -->,
	sourcePost: <!-- IF QR_SOURCE_POST -->true<!-- ELSE -->false<!-- ENDIF -->,
	unchangedSubject: <!-- IF S_QR_NOT_CHANGE_SUBJECT -->true<!-- ELSE -->false<!-- ENDIF -->
};

// Useful variables for QuickReply.
quickreply.editor = {
	boardURL: '{BOARD_URL}',
	currentPost: '',
	mainForm: '#qr_postform',
	messageStorage: '#qr_message',
	tempContainer: '#qr_temp_container',
	viewtopicLink: '{U_VIEW_TOPIC}'
};

// Global functions for QuickReply.
quickreply.functions = {
	getHexColor: function(color) {
		color = color.replace(/\s/g, "");
		var colorRGB = color.match(/^rgb\((\d{1,3}[%]?),(\d{1,3}[%]?),(\d{1,3}[%]?)\)$/i),
				colorHEX = '';
		for (var i = 1; i <= 3; i++) {
			colorHEX += Math.round((colorRGB[i][colorRGB[i].length - 1] == "%" ? 2.55 : 1) * parseInt(colorRGB[i])).toString(16).replace(/^(.)$/, '0$1');
		}
		return "#" + colorHEX;
	}
};

// Language variables for QuickReply.
quickreply.language = {
	AJAX_ERROR: '{LA_AJAX_ERROR_TEXT}',
	AJAX_ERROR_TITLE: '{LA_AJAX_ERROR_TITLE}',
	INSERT_TEXT: '{LA_QR_INSERT_TEXT}',
	PROFILE: '{LA_QR_PROFILE}',
	QUICKNICK: '{LA_QR_QUICKNICK}',
	QUICKNICK_TITLE: '{LA_QR_QUICKNICK_TITLE}',
	REPLY_IN_PM: '{LA_QR_REPLY_IN_PM}',
	WROTE: '{LA_WROTE}'
};
<!-- ENDIF -->

// Special features for QuickReply - settings.
quickreply.special = {
	hideSubject: <!-- IF QR_HIDE_POSTS_SUBJECT -->true<!-- ELSE -->false<!-- ENDIF -->
};

// Special features for QuickReply - functions.
quickreply.special.functions = {};
//]]>
</script>
<!-- IF S_QUICK_REPLY -->
<!-- INCLUDEJS @boardtools_quickreply/quickreply_core.js -->
<!-- INCLUDEJS @boardtools_quickreply/quickreply_plugins.js -->
<!-- IF S_QR_SHOW_BUTTON_TRANSLIT --><!-- INCLUDEJS @boardtools_quickreply/translit.js --><!-- ENDIF -->
<!-- ENDIF -->
<!-- INCLUDEJS @boardtools_quickreply/quickreply_special.js -->
