<div id="qr_message" style="display: none;">{MESSAGE}</div>
<div id="qr_read_post_img" style="display: none;">{READ_POST_IMG}</div>
<script type="text/javascript">
//<![CDATA[
var quickreply = {};

// External plugins compatible with QuickReply.
quickreply.plugins = {
	abbc3: <!-- IF S_ABBC3_INSTALLED -->true<!-- ELSE -->false<!-- ENDIF -->,
	liveSearch: <!-- IF S_LIVE_SEARCH and LIVE_SEARCH_ON_OFF_USER -->true<!-- ELSE -->false<!-- ENDIF -->,
	seo: <!-- IF SEO_PHPBB_URL -->true<!-- ELSE -->false<!-- ENDIF -->
};

// Configuration settings for QuickReply.
quickreply.settings = {
	ajaxPagination: <!-- IF S_QR_AJAX_PAGINATION -->true<!-- ELSE -->false<!-- ENDIF -->,
	ajaxSubmit: <!-- IF S_QR_AJAX_SUBMIT -->true<!-- ELSE -->false<!-- ENDIF -->,
	allowedGuest: <!-- IF S_QR_ALLOWED_GUEST -->true<!-- ELSE -->false<!-- ENDIF -->,
	attachBox: <!-- IF S_QR_SHOW_ATTACH_BOX -->true<!-- ELSE -->false<!-- ENDIF -->,
	colouredNick: <!-- IF S_QR_COLOUR_NICKNAME -->true<!-- ELSE -->false<!-- ENDIF -->,
	ctrlEnter: <!-- IF S_QR_CE_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableBBCode: <!-- IF S_BBCODE_ALLOWED -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableComma: <!-- IF S_QR_COMMA_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	enableScroll: <!-- IF S_QR_ENABLE_SCROLL -->true<!-- ELSE -->false<!-- ENDIF -->,
	fullQuote: <!-- IF S_QR_FULL_QUOTE -->true<!-- ELSE -->false<!-- ENDIF -->,
	hideSubject: <!-- IF QR_HIDE_POSTS_SUBJECT -->true<!-- ELSE -->false<!-- ENDIF -->,
	pluploadEnabled: <!-- IF S_PLUPLOAD and S_QR_SHOW_ATTACH_BOX -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNick: <!-- IF S_QR_QUICKNICK_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNickRef: <!-- IF S_QR_QUICKNICK_REF -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickNickPM: <!-- IF S_QR_QUICKNICK_PM -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickQuote: <!-- IF S_QR_QUICKQUOTE_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
	quickQuoteLink: <!-- IF S_QR_QUICKQUOTE_LINK -->true<!-- ELSE -->false<!-- ENDIF -->,
	scrollInterval: {S_QR_SCROLL_INTERVAL},
	softScroll: <!-- IF S_QR_SOFT_SCROLL -->true<!-- ELSE -->false<!-- ENDIF -->,
	sourcePost: <!-- IF QR_SOURCE_POST -->true<!-- ELSE -->false<!-- ENDIF -->,
	unchangedSubject: <!-- IF S_QR_NOT_CHANGE_SUBJECT -->true<!-- ELSE -->false<!-- ENDIF -->
};

quickreply.editor = {
	boardURL: '{BOARD_URL}',
	currentPost: '',
	mainForm: '#qr_postform',
	messageStorage: '#qr_message',
	tempContainer: '#qr_temp_container',
	viewtopicLink: '{U_VIEW_TOPIC}'
};

// Language variables for QuickReply.
quickreply.language = {
	AJAX_ERROR: '{LA_AJAX_ERROR_TEXT}',
	AJAX_ERROR_TITLE: '{LA_AJAX_ERROR_TITLE}',
	INSERT_TEXT: '{LA_QR_INSERT_TEXT}',
	PREW_POSTS: '{LA_QR_PREW_POSTS}',
	PROFILE: '{LA_QR_PROFILE}',
	QUICKNICK: '{LA_QR_QUICKNICK}',
	QUICKNICK_TITLE: '{LA_QR_QUICKNICK_TITLE}',
	REPLY_IN_PM: '{LA_QR_REPLY_IN_PM}',
	WROTE: '{LA_WROTE}'
};
//]]>
</script>
<!-- INCLUDEJS quickreply_core.js -->
<!-- INCLUDEJS quickreply_plugins.js -->
<!-- IF S_QR_SHOW_BUTTON_TRANSLIT --><!-- INCLUDEJS translit.js --><!-- ENDIF -->
