<!-- IF S_QUICK_REPLY -->
<!-- INCLUDEJS @boardtools_quickreply/quickreply_pbwow.js -->
<style>
	/* Remove styling specific for standard quick reply. */
	#qr_postform .panel {
		background: #ECEBEA;
		border-color: #CAC9C8;
		border-width: 0 0 2px;
	}
	#qr_postform .panel:first-child {
		border-bottom-style: solid;
	}
	#qr_postform > .panel > .inner {
		max-width: none;
		margin: 0;
	}
	#qr_postform #message-box {
		width: 80%;
	}
	body.section-viewtopic .postbody h3,
	#qr_postform .fields1 > dl {
		display: block;
	}
	#preview {
		padding: 15px;
	}
	.profile-context a.icon-refer:before	{ content: "\f1fa"; }
	.profile-context a.icon-pm:before   	{ content: "\f075"; }
</style>
<!-- ENDIF -->
<!-- INCLUDE @boardtools_quickreply/quickreply_init.html -->
