/* This file is style-specific and can be modified in other styles. */
/* Styling for some features of QuickReply Reloaded. */
.qr_dropdown {
	display: block;
}

.qr_dropdown a {
	font-size: 11px !important;
}

.post.hidden_subject .postbody p.author {
	padding-top: 10px;
	padding-bottom: 5px;
}

.button.qr-quickquote .icon {
	color: #0A8ED0;
}

/* Fixed form style. */

/* Compact form style. */

/* Fullscreen form style. */
