/* This file is style-specific and can be modified in other styles. */
/* Styling for some features of QuickReply Reloaded. */
.qr_dropdown a {
	font-size: 11px !important;
}

.qr_quickquote {
	cursor: pointer;
}

#qr_postform.qr_fixed_form .panel {
	padding: 5px 10px;
}

#qr_postform.qr_fixed_form {
	background: #ECEBEA;
}
