{% for postrow in loops.postrow %}
{% EVENT viewtopic_body_postrow_post_before %}
{% if postrow.S_FIRST_UNREAD %}
<a id="unread" class="anchor"{% if S_UNREAD_VIEW %} data-url="{{ postrow.U_MINI_POST }}"{% endif %}></a>
{% endif %}
<div id="p{{ postrow.POST_ID }}" class="post has-profile {% if postrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if postrow.S_UNREAD_POST %} unreadpost{% endif %}{% if postrow.S_POST_REPORTED %} reported{% endif %}{% if postrow.S_POST_DELETED %} deleted{% endif %}{% if postrow.S_ONLINE and not postrow.S_POST_HIDDEN %} online{% endif %}{% if postrow.POSTER_WARNINGS %} warned{% endif %}">
	<div class="inner">

		<dl class="postprofile" id="profile{{ postrow.POST_ID }}"{% if postrow.S_POST_HIDDEN %} style="display: none;"{% endif %}>
			<dt class="{% if postrow.RANK_TITLE or postrow.RANK_IMG %}has-profile-rank{% else %}no-profile-rank{% endif %} {% if postrow.POSTER_AVATAR %}has-avatar{% else %}no-avatar{% endif %}">
				<div class="avatar-container">
					{% EVENT viewtopic_body_avatar_before %}
					{% if postrow.POSTER_AVATAR %}
					{% if postrow.U_POST_AUTHOR %}<a href="{{ postrow.U_POST_AUTHOR }}" class="avatar">{{ postrow.POSTER_AVATAR }}</a>{% else %}<span class="avatar">{{ postrow.POSTER_AVATAR }}</span>{% endif %}
					{% endif %}
					{% EVENT viewtopic_body_avatar_after %}
				</div>
				{% EVENT viewtopic_body_post_author_before %}
				{% if not postrow.U_POST_AUTHOR %}<strong>{{ postrow.POST_AUTHOR_FULL }}</strong>{% else %}{{ postrow.POST_AUTHOR_FULL }}{% endif %}
				{% EVENT viewtopic_body_post_author_after %}
			</dt>

			{% EVENT viewtopic_body_postrow_rank_before %}
			{% if not S_PBWOW_SMALL_RANKS and (postrow.RANK_TITLE or postrow.RANK_IMG) %}<dd class="profile-rank">{{ postrow.RANK_TITLE }}{% if postrow.RANK_TITLE and postrow.RANK_IMG %}<br />{% endif %}{{ postrow.RANK_IMG }}</dd>{% endif %}
			{% EVENT viewtopic_body_postrow_rank_after %}

			{% if postrow.POSTER_POSTS != '' %}<dd class="profile-posts"><strong>{{ lang('POSTS') }}{{ lang('COLON') }}</strong> {% if postrow.U_SEARCH !== '' %}<a href="{{ postrow.U_SEARCH }}">{% endif %}{{ postrow.POSTER_POSTS }}{% if postrow.U_SEARCH !== '' %}</a>{% endif %}</dd>{% endif %}
			{% if S_PBWOW_SHOWJOINED and postrow.POSTER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') }}{{ lang('COLON') }}</strong> {{ postrow.POSTER_JOINED }}</dd>{% endif %}
			{% if postrow.POSTER_WARNINGS %}<dd class="profile-warnings"><strong>{{ lang('WARNINGS') }}{{ lang('COLON') }}</strong> {{ postrow.POSTER_WARNINGS }}</dd>{% endif %}

			{% if postrow.S_PROFILE_FIELD1 %}
			<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<dd><strong>{{ postrow.PROFILE_FIELD1_NAME }}{{ lang('COLON') }}</strong> {{ postrow.PROFILE_FIELD1_VALUE }}</dd>
			{% endif %}

			{% EVENT viewtopic_body_postrow_custom_fields_before %}
			{% for custom_fields in postrow.custom_fields %}
			{% if not custom_fields.S_PROFILE_CONTACT %}
			<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
			{% endif %}
			{% endfor %}
			{% EVENT viewtopic_body_postrow_custom_fields_after %}

			{% EVENT viewtopic_body_contact_fields_before %}
			{% if not S_IS_BOT and postrow.contact|length %}
			<dd class="profile-contact">
				<strong>{{ lang('CONTACT') }}{{ lang('COLON') }}</strong>
				<div class="dropdown-container dropdown-left">
					<a href="#" class="dropdown-trigger" title="{{ postrow.CONTACT_USER }}">
						<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">{{ postrow.CONTACT_USER }}</span>
					</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<div class="dropdown-contents contact-icons">
							{% for contact in postrow.contact %}
							{% set REMAINDER = contact.S_ROW_COUNT % 4 %}
							{% DEFINE S_LAST_CELL = ((REMAINDER eq 3) or (contact.S_LAST_ROW and contact.S_NUM_ROWS < 4)) %}
							{% if REMAINDER eq 0 %}
							<div>
								{% endif %}
								<a href="{% if contact.U_CONTACT %}{{ contact.U_CONTACT }}{% else %}{{ postrow.U_POST_AUTHOR }}{% endif %}" title="{{ contact.NAME }}"{% if definition.S_LAST_CELL %} class="last-cell"{% endif %}{% if contact.ID eq 'jabber' %} onclick="popup(this.href, 750, 320); return false;"{% endif %}>
								<span class="contact-icon {{ contact.ID }}-icon">{{ contact.NAME }}</span>
								</a>
								{% if REMAINDER eq 3 or contact.S_LAST_ROW %}
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</dd>
			{% endif %}
			{% EVENT viewtopic_body_contact_fields_after %}

		</dl>

		<div class="profile-context">
			<div class="dropdown hidden">
				<div id="p{{ postrow.POST_ID }}-context" class="dropdown-contents">
					<dl>
						<dt class="username">{{ postrow.POST_AUTHOR }}</dt>
						{% if not S_IS_BOT %}
						<dd class="user-icons">
							<a class="icon-profile" href="{{ postrow.U_POST_AUTHOR }}">{{ lang('READ_PROFILE') }}</a>
							<a class="icon-search" href="{{ postrow.U_SEARCH }}" title="{{ lang('SEARCH_USER_POSTS') }}"></a>
							{% if postrow.S_FRIEND %}<!--Friend! yay!-->{% endif %}
							{% if U_PROFILE %}<a class="icon-ignore" href="{{ U_PROFILE }}?i=zebra&amp;mode=foes&amp;add={{ postrow.POST_AUTHOR }}" title="Ignore user" accesskey="e"></a>{% endif %}
						</dd>
						{% endif %}

						{% if postrow.POSTER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') }}{{ lang('COLON') }}</strong> {{ postrow.POSTER_JOINED }}</dd>{% endif %}
						{% if S_SMALL_RANKS %}
						{% if postrow.RANK_TITLE or postrow.RANK_IMG %}<dd class="profile-rank">{{ postrow.RANK_IMG }} {{ postrow.RANK_TITLE }}</dd>{% endif %}
						{% if postrow.S_HAS_MULTIPLE_RANKS and (postrow.POSTS_RANK_TITLE or postrow.POSTS_RANK_IMG) %}<dd class="profile-posts-rank">{{ postrow.POSTS_RANK_IMG }} {{ postrow.POSTS_RANK_TITLE }}</dd>{% endif %}
						{% endif %}


						{% EVENT viewtopic_body_postrow_custom_fields_before %}
						{% for custom_fields in postrow.custom_fields %}
						{% if not custom_fields.S_PROFILE_CONTACT %}
						<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
						{% endif %}
						{% endfor %}
						{% EVENT viewtopic_body_postrow_custom_fields_after %}
					</dl>
				</div><!-- /.dropdown-contents -->
			</div><!-- /.dropdown -->
		</div><!-- /.profile-context -->

		<div class="postbody">
			{% if postrow.S_POST_HIDDEN %}
			{% if postrow.S_POST_DELETED %}
			<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
				{{ postrow.L_POST_DELETED_MESSAGE }}<br />
				{{ postrow.L_POST_DISPLAY }}
			</div>
			{% elseif postrow.S_IGNORE_POST %}
			<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
				{{ postrow.L_IGNORE_POST }}<br />
				{{ postrow.L_POST_DISPLAY }}
			</div>
			{% endif %}
			{% endif %}
			<div id="post_content{{ postrow.POST_ID }}"{% if postrow.S_POST_HIDDEN %} style="display: none;"{% endif %}>

				{% EVENT viewtopic_body_post_subject_before %}
				<h3 {% if postrow.S_FIRST_ROW %}class="first"{% endif %}>{% if postrow.POST_ICON_IMG %}<img src="{{ T_ICONS_PATH }}{{ postrow.POST_ICON_IMG }}" width="{{ postrow.POST_ICON_IMG_WIDTH }}" height="{{ postrow.POST_ICON_IMG_HEIGHT }}" alt="{{ postrow.POST_ICON_IMG_ALT }}" title="{{ postrow.POST_ICON_IMG_ALT }}" /> {% endif %}<a href="#p{{ postrow.POST_ID }}">{{ postrow.POST_SUBJECT }}</a></h3>

				{% DEFINE SHOW_POST_BUTTONS = (postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE) %}
				{% EVENT viewtopic_body_post_buttons_list_before %}
				{% if not S_IS_BOT %}
				{% if definition.SHOW_POST_BUTTONS %}
				<ul class="post-buttons">
					{% EVENT viewtopic_body_post_buttons_before %}
					{% if postrow.U_EDIT %}
					<li>
						<a href="{{ postrow.U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_EDIT') }}</span>
						</a>
					</li>
					{% endif %}
					{% if postrow.U_DELETE %}
					<li>
						<a href="{{ postrow.U_DELETE }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
							<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_POST') }}</span>
						</a>
					</li>
					{% endif %}
					{% if postrow.U_REPORT %}
					<li>
						<a href="{{ postrow.U_REPORT }}" title="{{ lang('REPORT_POST') }}" class="button button-icon-only">
							<i class="icon fa-exclamation-circle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('REPORT_POST') }}</span>
						</a>
					</li>
					{% endif %}
					{% if postrow.U_WARN %}
					<li>
						<a href="{{ postrow.U_WARN }}" title="{{ lang('WARN_USER') }}" class="button button-icon-only">
							<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('WARN_USER') }}</span>
						</a>
					</li>
					{% endif %}
					{% if postrow.U_INFO %}
					<li>
						<a href="{{ postrow.U_INFO }}" title="{{ lang('INFORMATION') }}" class="button button-icon-only">
							<i class="icon fa-info-circle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('INFORMATION') }}</span>
						</a>
					</li>
					{% endif %}
					{% if postrow.U_QUOTE %}
					<li>
						<a href="{{ postrow.U_QUOTE }}" title="{{ lang('REPLY_WITH_QUOTE') }}" class="button button-icon-only">
							<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUOTE') }}</span>
						</a>
					</li>
					{% endif %}
					{% EVENT viewtopic_body_post_buttons_after %}
				</ul>
				{% endif %}
				{% endif %}
				{% EVENT viewtopic_body_post_buttons_list_after %}

				{% EVENT viewtopic_body_postrow_post_details_before %}
				<p class="author">
					{% if S_IS_BOT %}
					<span><i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span></span>
					{% else %}
					<a class="unread" href="{{ postrow.U_MINI_POST }}" title="{{ postrow.MINI_POST }}">
						<i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span>
					</a>
					{% endif %}
					<span class="responsive-hide">{{ lang('POST_BY_AUTHOR') }} <strong>{{ postrow.POST_AUTHOR_FULL }}</strong> &raquo; </span>{{ postrow.POST_DATE }}
				</p>
				{% EVENT viewtopic_body_postrow_post_details_after %}

				{% if postrow.S_POST_UNAPPROVED %}
				<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
					<p class="post-notice unapproved">
						<span><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i></span>
						<strong>{{ lang('POST_UNAPPROVED_ACTION') }}</strong>
						<input class="button2" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" />
						<input class="button1" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" />
						<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
						{{ S_FORM_TOKEN }}
					</p>
				</form>
				{% elseif postrow.S_POST_DELETED %}
				<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
					<p class="post-notice deleted">
						<strong>{{ lang('POST_DELETED_ACTION') }}</strong>
						{% if postrow.S_DELETE_PERMANENT %}
						<input class="button2" type="submit" value="{{ lang('DELETE') }}" name="action[delete]" />
						{% endif %}
						<input class="button1" type="submit" value="{{ lang('RESTORE') }}" name="action[restore]" />
						<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
						{{ S_FORM_TOKEN }}
					</p>
				</form>
				{% endif %}

				{% if postrow.S_POST_REPORTED %}
				<p class="post-notice reported">
					<a href="{{ postrow.U_MCP_REPORT }}"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>{{ lang('POST_REPORTED') }}</strong></a>
				</p>
				{% endif %}

				<div class="content">{{ postrow.MESSAGE }}</div>

				{% if postrow.S_HAS_ATTACHMENTS %}
				<dl class="attachbox">
					<dt>
						{{ lang('ATTACHMENTS') }}
					</dt>
					{% for attachment in postrow.attachment %}
					<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
					{% endfor %}
				</dl>
				{% endif %}

				{% EVENT viewtopic_body_postrow_post_notices_before %}
				{% if postrow.S_DISPLAY_NOTICE %}<div class="rules">{{ lang('DOWNLOAD_NOTICE') }}</div>{% endif %}
				{% if postrow.DELETED_MESSAGE or postrow.DELETE_REASON %}
				<div class="notice post_deleted_msg">
					{{ postrow.DELETED_MESSAGE }}
					{% if postrow.DELETE_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.DELETE_REASON }}</em>{% endif %}
				</div>
				{% elseif postrow.EDITED_MESSAGE or postrow.EDIT_REASON %}
				<div class="notice">
					{{ postrow.EDITED_MESSAGE }}
					{% if postrow.EDIT_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.EDIT_REASON }}</em>{% endif %}
				</div>
				{% endif %}

				{% if postrow.BUMPED_MESSAGE %}<div class="notice"><br /><br />{{ postrow.BUMPED_MESSAGE }}</div>{% endif %}
				{% EVENT viewtopic_body_postrow_post_notices_after %}
				{% if postrow.SIGNATURE %}<div id="sig{{ postrow.POST_ID }}" class="signature">{{ postrow.SIGNATURE }}</div>{% endif %}

				{% EVENT viewtopic_body_postrow_post_content_footer %}
			</div>

		</div>

		{% EVENT viewtopic_body_postrow_back2top_before %}
		<div class="back2top">
			{% EVENT viewtopic_body_postrow_back2top_prepend %}
			<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
				<!--- <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>   -->
				<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
			</a>
			{% EVENT viewtopic_body_postrow_back2top_append %}
		</div>
		{% EVENT viewtopic_body_postrow_back2top_after %}

	</div>
</div>

<hr class="divider" />
{% EVENT viewtopic_body_postrow_post_after %}
{% endfor %}

<div id="qr_submit_buttons" data-page-title="{{ PAGE_TITLE }} - {{ SITENAME }}" data-page-url="{{ U_CANONICAL }}">
	{{ S_FORM_TOKEN }}
	{{ QR_HIDDEN_FIELDS }}
</div>

<div id="qr_pagination">
{% if pagination or TOTAL_POSTS %}
	{% if U_VIEW_UNREAD_POST and not S_IS_BOT %}<a href="{{ U_VIEW_UNREAD_POST }}" class="mark">{{ L_VIEW_UNREAD_POST }}</a> &bull; {% endif %}{{ TOTAL_POSTS }}
	{% if pagination %}
	{% include 'pagination.html' %}
	{% else %}
	&bull; {{ PAGE_NUMBER }}
	{% endif %}
{% endif %}
</div>
