<!-- IF S_QR_FORM_TYPE > 0 -->
<div id="qr_action_box">
	<div id="qr_action_box_container">
		<i class="qr_fullscreen_button fa fa-fw fa-arrows-alt" title="{L_QR_FULLSCREEN}"></i>
		<!-- IF S_SMILIES_ALLOWED and .smiley -->
		<i class="qr_smiley_button fa fa-fw fa-smile-o" title="{L_SMILIES}"></i>
		<!-- ENDIF -->
		<!-- IF S_QR_SHOW_ATTACH_BOX -->
		<i class="qr_attach_button fa fa-fw fa-paperclip" title="{L_ATTACHMENTS}"></i>
		<!-- ENDIF -->
	</div>
</div>
<div id="qr_text_action_box">
	<!-- IF S_BBCODE_BUTTONS -->
	<i class="qr_bbcode_button fa fa-fw fa-bold" title="{L_QR_BBCODE}"></i>
	<!-- ENDIF -->
	<i class="qr_more_actions_button fa fa-fw fa-cog" title="{L_QR_MORE}"></i>
	<i class="qr_form_hide_button fa fa-fw fa-chevron-down" title="{L_QR_FORM_HIDE}"></i>
</div>
<!-- ENDIF -->
