{% if S_QUICK_REPLY %}
<div id="qr_message" style="display: none;">{{ MESSAGE }}</div>
{% endif %}
<script>
var quickreply = {};
{% if S_QUICK_REPLY %}

// External plugins compatible with QuickReply.
quickreply.plugins = {
	abbc3: {% if S_ABBC3_QUICKREPLY %}true{% else %}false{% endif %},
	liveSearch: {% if (S_LIVE_SEARCH and LIVE_SEARCH_ON_OFF_USER) %}true{% else %}false{% endif %},
	reCAPTCHA2: {% if (S_RECAPTCHA_AVAILABLE and RECAPTCHA2_SITEKEY) %}true{% else %}false{% endif %},
	seo: {% if SEO_PHPBB_URL %}true{% else %}false{% endif %},
	qrBoardUrl: '{{ BOARD_URL }}'
};

// Configuration settings for QuickReply.
quickreply.settings = {
	ajaxPagination: {% if S_QR_AJAX_PAGINATION %}true{% else %}false{% endif %},
	ajaxSubmit: {% if S_QR_AJAX_SUBMIT %}true{% else %}false{% endif %},
	allowBBCode: {% if S_BBCODE_ALLOWED %}true{% else %}false{% endif %},
	allowedGuest: {% if S_QR_ALLOWED_GUEST %}true{% else %}false{% endif %},
	attachBox: {% if S_QR_SHOW_ATTACH_BOX %}true{% else %}false{% endif %},
	colouredNick: {% if S_QR_COLOUR_NICKNAME %}true{% else %}false{% endif %},
	ctrlEnterNotice: {% if S_QR_CTRL_ENTER_NOTICE %}true{% else %}false{% endif %},
	enableBBCode: {% if S_BBCODE_BUTTONS %}true{% else %}false{% endif %},
	enableComma: {% if S_QR_COMMA_ENABLE %}true{% else %}false{% endif %},
	enableScroll: {% if S_QR_ENABLE_SCROLL %}true{% else %}false{% endif %},
	enableWarning: {% if S_QR_ENABLE_WARNING %}true{% else %}false{% endif %},
	fixEmptyForm: {% if S_QR_FIX_EMPTY_FORM %}true{% else %}false{% endif %},
	formType: {S_QR_FORM_TYPE},
	fullQuote: {% if S_QR_FULL_QUOTE %}true{% else %}false{% endif %},
	fullQuoteAllowed: {% if S_QR_FULL_QUOTE_ALLOWED %}true{% else %}false{% endif %},
	hideSubjectBox: {% if QR_HIDE_SUBJECT_BOX %}true{% else %}false{% endif %},
	lastQuote: {% if S_QR_LAST_QUOTE %}true{% else %}false{% endif %},
	pluploadEnabled: {% if (S_PLUPLOAD and S_QR_SHOW_ATTACH_BOX) %}true{% else %}false{% endif %},
	quickNick: {% if S_QR_QUICKNICK_ENABLE %}true{% else %}false{% endif %},
	quickNickString: {% if S_QR_QUICKNICK_STRING %}true{% else %}false{% endif %},
	quickNickUserType: {% if S_QR_QUICKNICK_USERTYPE %}true{% else %}false{% endif %},
	quickNickRef: {% if S_QR_QUICKNICK_REF %}true{% else %}false{% endif %},
	quickNickPM: {% if S_QR_QUICKNICK_PM %}true{% else %}false{% endif %},
	quickQuote: {% if S_QR_QUICKQUOTE_ENABLE %}true{% else %}false{% endif %},
	quickQuoteButton: {% if S_QR_QUICKQUOTE_BUTTON %}true{% else %}false{% endif %},
	saveReply: {% if S_QR_SAVE_REPLY %}true{% else %}false{% endif %},
	scrollInterval: {S_QR_SCROLL_INTERVAL},
	softScroll: {% if S_QR_SOFT_SCROLL %}true{% else %}false{% endif %},
	unchangedSubject: {% if S_QR_NOT_CHANGE_SUBJECT %}true{% else %}false{% endif %}
};

// Useful variables for QuickReply.
quickreply.editor = {
	attachPanel: '#attach-panel',
	currentPost: '',
	mainForm: '#qr_postform',
	messageStorage: '#qr_message',
	postSelector: 'div.post',
	postTitleSelector: '.postbody div h3:first',
	profileLinkSelector: 'a.username, a.username-coloured',
	profileNoLinkSelector: 'span.username, span.username-coloured',
	tempContainer: '#qr_temp_container',
	textareaSelector: '#qr_postform #message-box textarea',
	unreadPostSelector: '.unreadpost',
	viewtopicLink: '{{ U_VIEW_TOPIC }}'
};

// Global functions for QuickReply.
quickreply.functions = {
	/**
	 * Converts RGB function to the hex string.
	 *
	 * @param {string} color Color in RGB function format
	 * @returns {string}
	 */
	getHexColor: function(color) {
		color = color.replace(/\s/g, "");
		var colorRGB = color.match(/^rgb\((\d{1,3}[%]?),(\d{1,3}[%]?),(\d{1,3}[%]?)\)$/i), colorHEX = '';
		for (var i = 1; i <= 3; i++) {
			colorHEX += Math.round((colorRGB[i][colorRGB[i].length - 1] === "%" ? 2.55 : 1) *
				parseInt(colorRGB[i])).toString(16).replace(/^(.)$/, '0$1');
		}
		return "#" + colorHEX;
	},
	/**
	 * Generates an HTML string for a link from an object with parameters.
	 *
	 * @param {object} parameters Object with HTML attributes
	 *                            (href, id, className, title) and link text
	 * @returns {string}
	 */
	makeLink: function(parameters) {
		if (typeof parameters !== 'object') {
			return '';
		}
		var link = '<a';
		link += (parameters.href) ? ' href="' + parameters.href + '"' : ' href="#"';
		if (parameters.id) {
			link += ' id="' + parameters.id + '"';
		}
		if (parameters.className) {
			link += ' class="' + parameters.className + '"';
		}
		if (parameters.title) {
			link += ' title="' + parameters.title + '"';
		}
		link += '>' + ((parameters.text) ? parameters.text : '') + '</a>';
		return link;
	}
};

// Language variables for QuickReply.
quickreply.language = {
	AJAX_ERROR: '{{ lang("AJAX_ERROR_TEXT")|addslashes }}',
	AJAX_ERROR_TITLE: '{{ lang("AJAX_ERROR_TITLE")|addslashes }}',
	BUTTON_QUOTE: '{{ lang("BUTTON_QUOTE")|addslashes }}',
	CANCEL_SUBMISSION: '{{ lang("QR_CANCEL_SUBMISSION")|addslashes }}',
	CTRL_ENTER: '{{ lang("QR_CTRL_ENTER")|addslashes }}',
	ERROR: '{{ lang("ERROR")|addslashes }}',
	FULLSCREEN: '{{ lang("QR_FULLSCREEN")|addslashes }}',
	FULLSCREEN_EXIT: '{{ lang("QR_FULLSCREEN_EXIT")|addslashes }}',
	INFORMATION: '{{ lang("INFORMATION")|addslashes }}',
	INSERT_TEXT: '{{ lang("QR_INSERT_TEXT")|addslashes }}',
	loading: {
		text: '{{ lang("QR_LOADING")|addslashes }}',
		ATTACHMENTS: '{{ lang("QR_LOADING_ATTACHMENTS")|addslashes }}',
		NEW_FORM_TOKEN: '{{ lang("QR_LOADING_NEW_FORM_TOKEN")|addslashes }}',
		NEW_POSTS: '{{ lang("QR_LOADING_NEW_POSTS")|addslashes }}',
		PREVIEW: '{{ lang("QR_LOADING_PREVIEW")|addslashes }}',
		SUBMITTED: '{{ lang("QR_LOADING_SUBMITTED")|addslashes }}',
		SUBMITTING: '{{ lang("QR_LOADING_SUBMITTING")|addslashes }}',
		WAIT: '{{ lang("QR_LOADING_WAIT")|addslashes }}'
	},
	NO_FULL_QUOTE: '{{ lang("QR_NO_FULL_QUOTE")|addslashes }}',
	POST_REVIEW: '{{ lang("POST_REVIEW_EXPLAIN")|addslashes }}',
	PREVIEW_CLOSE: '{{ lang("QR_PREVIEW_CLOSE")|addslashes }}',
	PROFILE: '{{ lang("QR_PROFILE")|addslashes }}',
	QUICKNICK: '{{ lang("QR_QUICKNICK")|addslashes }}',
	QUICKNICK_TITLE: '{{ lang("QR_QUICKNICK_TITLE")|addslashes }}',
	QUICKQUOTE_TEXT: '{{ lang("QR_QUICKQUOTE")|addslashes }}',
	QUICKQUOTE_TITLE: '{{ lang("QR_QUICKQUOTE_TITLE")|addslashes }}',
	QUICKREPLY: '{{ lang("QUICKREPLY")|addslashes }}',
	REPLY_IN_PM: '{{ lang("QR_REPLY_IN_PM")|addslashes }}',
	REPLY_WITH_QUOTE: '{{ lang("REPLY_WITH_QUOTE")|addslashes }}',
	TYPE_REPLY: '{{ lang("QR_TYPE_REPLY")|addslashes }}',
	WARN_BEFORE_UNLOAD: '{{ lang("QR_WARN_BEFORE_UNLOAD")|addslashes }}',
	WROTE: '{{ lang("WROTE")|addslashes }}'
};
{% endif %}
{% if S_QR_SHOW_BUTTON_TRANSLIT %}

// Language arrays for translit feature.
quickreply.translit = {
	langFrom: '{{ lang("QR_TRANSLIT_FROM")|addslashes }}'.split(','),
	langTo: '{{ lang("QR_TRANSLIT_TO")|addslashes }}'.split(','),
	langFromCaps: '{{ lang("QR_TRANSLIT_FROM_CAPS")|addslashes }}'.split(','),
	langToCaps: '{{ lang("QR_TRANSLIT_TO_CAPS")|addslashes }}'.split(',')
};
{% endif %}

// Special features for QuickReply - settings.
quickreply.special = {
	hideSubject: {% if QR_HIDE_POSTS_SUBJECT %}true{% else %}false{% endif %}
};

// Special features for QuickReply - functions.
quickreply.special.functions = {};
</script>
{% if S_QUICK_REPLY %}
{% INCLUDEJS '@boardtools_quickreply/quickreply_style.js' %}
{% INCLUDEJS '@boardtools_quickreply/quickreply_core.js' %}
{% INCLUDEJS '@boardtools_quickreply/quickreply_plugins.js' %}
{% if S_QR_SHOW_BUTTON_TRANSLIT %}{% INCLUDEJS '@boardtools_quickreply/translit.js' %}{% endif %}
{% endif %}
{% INCLUDEJS '@boardtools_quickreply/quickreply_special.js' %}
