{% if S_QR_FORM_TYPE > 0 %}
<div id="qr_action_box" style="display: none;">
	<div id="qr_action_box_container">
		<i class="qr_fullscreen_button fa fa-fw fa-arrows-alt" title="{{ lang('QR_FULLSCREEN') }}"></i>
		{% if (S_SMILIES_ALLOWED and loops.smiley) %}
		<i class="qr_smiley_button fa fa-fw fa-smile-o" title="{{ lang('SMILIES') }}"></i>
		{% endif %}
		{% if S_QR_SHOW_ATTACH_BOX %}
		<i class="qr_attach_button fa fa-fw fa-paperclip" title="{{ lang('ATTACHMENTS') }}"></i>
		{% endif %}
	</div>
</div>
<div id="qr_text_action_box" style="display: none;">
	{% if S_BBCODE_BUTTONS %}
	<i class="qr_bbcode_button fa fa-fw fa-bold" title="{{ lang('QR_BBCODE') }}"></i>
	{% endif %}
	<i class="qr_more_actions_button fa fa-fw fa-cog" title="{{ lang('QR_MORE') }}"></i>
	<i class="qr_form_hide_button fa fa-fw fa-chevron-down" title="{{ lang('QR_FORM_HIDE') }}"></i>
</div>
{% endif %}
