<!-- IF S_QUICK_REPLY -->
<!-- INCLUDEJS @boardtools_quickreply/quickreply_pbwow.js -->
<style>
	/* Remove styling specific for standard quick reply. */
	#qr_postform > .panel {
		max-width: none;
		margin: -3px 0 10px;
		background-size: 100% auto;
	}
	#qr_postform > .panel > .inner {
		max-width: none;
		margin: 0;
	}
	#qr_postform #message-box {
		width: 80%;
	}
	body.section-viewtopic .postbody h3,
	#qr_postform .fields1 > dl {
		display: block;
	}
	.profile-context a.icon-refer, .profile-context a.icon-pm {
		background: #292A2A;
		padding: 0;
	}
	.profile-context a.icon-refer:before, .profile-context a.icon-pm:before {
		display: inline-block;
		font-family: FontAwesome;
		color: #888;
		text-shadow: 0 0 5px #000;
		font-style: normal;
		font-weight: normal;
		font-size: 1.5em;
		line-height: inherit;
		text-decoration: none;
		padding: 0 10px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.profile-context a.icon-refer:before	{ content: "\f1fa"; }
	.profile-context a.icon-pm:before   	{ content: "\f075"; }
</style>
<!-- ENDIF -->
<!-- INCLUDE @boardtools_quickreply/quickreply_init.html -->
